@import "../helpers/font-faces";

@include govuk-exports("lbcamden/overrides/typography") {
  @include _lbcamden-font-face-inter;
}

h1 {
  @extend .govuk-heading-xl;

  + .govuk-body-lead {
    @include govuk-responsive-margin(8, "bottom");
  }
}

h2 {
  @extend .govuk-heading-l;
  @include govuk-responsive-margin(5, "bottom");
}

h3 {
  @extend .govuk-heading-m;
}

h4,
h5,
h6 {
  @extend .govuk-heading-s;
}

p {
  @extend %govuk-body-m;
}

strong,
b {
  @include govuk-typography-weight-bold;
}

.govuk-link,
a {
  @extend %govuk-link;
  text-underline-offset: $text-underline-offset;
}

hr {
  @extend %govuk-section-break;
  @extend %govuk-section-break--visible;
  @extend %govuk-section-break--xl;
}

address {
  font-style: normal;
}

.govuk-body-lead {
  line-height: 24px;

  @include govuk-media-query(tablet) {
    line-height: 32px;
  }
}

body {
  text-underline-offset: $text-underline-offset;
}

:root, * {
  font-family: "Inter", arial, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss02' 1;
}
