<ul class="lbcamden-guide-header lbcamden-list--dash {{params.classes}}" data-module="lbcamden-guide-header">
  {% for item in params.items %}
    <li>
      <a class="govuk-link" href="{{ item.href }}">
        {{ item.text }}
      </a>
    </li>
  {% endfor %}
</ul>
