.lbcamden-search-results {
  @include govuk-font($size: 16, $line-height: 18px);

  margin: 0;
  padding: 0;
  border-bottom: 1px solid lbcamden-colour("light-grey");
  list-style: none;

  a:not(:hover) {
    text-decoration: none;
  }

  h2 {
    @include govuk-responsive-margin(1, "bottom");
    line-height: 125%;
  }

  &__location {
    margin: 0;
    @include govuk-responsive-margin(2, "bottom");
  }

  .govuk-breadcrumbs__list-item {
    margin-bottom: 0;
  }

  &__item {
    @include govuk-responsive-padding(2, "top");
    // @include govuk-responsive-padding(4, "bottom");

    margin: 0;
    border-top: 1px solid lbcamden-colour("light-grey-3");
  }
}
