.lbcamden-emergency-banner {
  @include govuk-font(19);
  background-color: govuk-colour("mid-grey");
  color: govuk-colour("white");
  margin-top: 2px;
  padding: govuk-spacing(3) 0;

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6) 0;
  }

  &__heading {
    @include govuk-font(24, $weight: bold);
    color: govuk-colour("white");
    margin: 0;
  }

  &__description {
    @include govuk-font(19);
    color: govuk-colour("white");
    margin-top: 0;
    margin-bottom: govuk-spacing(4);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @include govuk-font(19);
    color: govuk-colour("white");

    &:link,
    &:visited {
      color: govuk-colour("white");
    }

    &:focus {
      @include govuk-focused-text;
    }
  }

  &--notable-death {
    background-color: govuk-colour(black);
  }

  &--national-emergency {
    // Not using govuk-colour("red") aka #d4351c as that's a slightly different red.
    background-color: #b10e1e;
  }

  &--local-emergency {
    // Not using govuk-colour("turquoise") for background colour as
    // the contrast was too low with white text
    background-color: #00847d;
  }

  @include govuk-media-query($media-type: print) {
    display: none;
  }

  &--homepage {
    border-bottom: govuk-spacing(1) solid govuk-colour("white");
    border-top: govuk-spacing(1) solid govuk-colour("white");
    margin-bottom: govuk-spacing(-2);
    margin-top: 0;
    position: relative;
    z-index: 10;

    .lbcamden-emergency-banner {
      &__heading {
        @include govuk-font(48, $weight: bold);

        @include govuk-media-query($from: tablet) {
          margin-bottom: govuk-spacing(4);
        }
      }

      &__description {
        margin: govuk-spacing(4) 0;
      }
    }
  }
}
