<div class="govuk-width-container {{ params.classes }}">
  <div class="govuk-grid-row lbcamden-emergency-banner">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="lbcamden-emergency-banner__heading {{ params.headingClasses }}">{{ params.heading }}</h2>

      {% if params.shortDescription %}
      <p class="lbcamden-emergency-banner__description {{ params.descriptionClasses }}">
        {{ params.shortDescription }}
      </p>
      {% endif %}

      {% if params.link %}
      <a href="{{ params.link }}" class="lbcamden-emergency-banner__link">
        {{params.linkText}}
      </a>
      {% endif %}
    </div>
  </div>
</div>
