---
scenario: You want to revise your cookie consent settings, or ask for more detail when initialy prompted to accept
notes:
---
{% extends "examples/layouts/full-page-example.njk" %}
{% set mainClasses = 'govuk-width-container' %}

{% from "node_modules/govuk-frontend/dist/govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "node_modules/govuk-frontend/dist/govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Cookies on this site" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block banner %}{% endblock %}

{% block header %}
  {{ LBCamdenHeader({
    "phaseBanner": {
      "tag": { "text": "beta" },
      "html": "This is a new service – your <a class='govuk-link' href='#''>feedback</a> will help us to improve it."
    },
    "searchItems": [
      {
        "href": "#1",
        "text": "Popular search 1"
      },
      {
        "href": "#2",
        "text": "Popular search 2"
      },
      {
        "href": "#3",
        "text": "Popular search 3"
      }
    ]})
  }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      }
    ]
  }) }}
{% endblock %}
{% block content %}

  <script>
    /**
      In this example, we're just using some inline css & javascript to hide/show the confirmation banner.

      What you actually do here will depend on the cookie compliance solution you're using,
      whether the page is server-rendered or static, etc.
    */

    window.addEventListener('DOMContentLoaded', () => {
      const successNotification = document.getElementById('cookie-success-notification')

      document.getElementById('cookie-form')
        .addEventListener('submit', event => {
          event.preventDefault()

          successNotification.classList.add('visible')
          window.scrollTo({ top: 0, behavior: 'instant' })
        })
    })
  </script>
  <style>
    #cookie-success-notification {
      display: none;
    }
    #cookie-success-notification.visible {
      display: block;
    }
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div id="cookie-success-notification">
        {% from "node_modules/govuk-frontend/dist/govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {{ govukNotificationBanner({
          "type": "success",
          "disableAutoFocus": true,
          "text": "We have updated your cookie preferences."
        }) }}
      </div>
      <h1>Cookies on this site</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <form id="cookie-form" class="govuk-grid-column-two-thirds-from-desktop lbcamden-prose">
      <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
      <p>We use cookies to collect and store information about how you use the website, such as the pages you visit.</p>
      <p>
      This page has a brief explanation of each type of cookie we use. If you want more details, read our detailed cookie information.
      </p>
      <h2>Cookie settings</h2>
      <h3>Cookies that measure website use</h3>
      <p>We use Google Analytics cookies to measure how you use this website.</p>
      <p>These cookies collect information about:</p>
      <ul>
        <li>how you got to these sites</li>
        <li>the pages you visit and how long you spend on each page</li>
        <li>what you click on while you're visiting these sites</li>
      </ul>
      <p>
      We also use software cookies from SiteImprove to measure your web performance experience. We use cookies from HotJar to collect feedback
      </p>
      <p>
      SiteImprove software cookies collect and store information about how well pages performed on your device, including whether there were any performance bottlenecks or JavaScript errors.
      </p>
      <p>
      HotJar cookies remember whether you have provided us with feedback so that we don't ask you the same questions again.
      </p>
      <p>We do not allow Google, HotJar or SiteImprove to use or share the data about how you use these sites.</p>
      <div class="govuk-form-group">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Analytics" name="Analytics" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="Analytics">
              Use cookies that measure my website use
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Analytics-2" name="Analytics" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="Analytics-2">
              Do not use cookies that measure my website use
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="lbcamden-button">Save changes</button>
    </form>
  </div>
{% endblock %}

{% block footer %}
  {{ LBCamdenFooter({
    "navigation": [
        {
          "href": "#1",
          "text": "Home"
        },
        {
          "href": "#2",
          "text": "Site map"
        },
        {
          "href": "#3",
          "text": "Contact Camden Council"
        }
    ],
    "navigationSecondary": [
        {
          "href": "#4",
          "text": "Subscribe to our e-newsletter",
          "attributes": {
            "data-highlighted": true
          }
        }
    ],
    "navigationUtility": [

        {
          "href": "#1",
          "text": "Accessibility statement"
        },
        {
          "href": "#2",
          "text": "Freedom of information disclaimer"
        },
        {
          "href": "#3",
          "text": "Privacy statement & cookies"
        },
        {
          "href": "#4",
          "text": "Modern slavery statement"
        }
    ],

    "navigationSocial": [
        {
          "href": "#1",
          "text": "Navigation item 1",
          "attributes": {
            "data-icon": "facebook"
          }
        },
        {
          "href": "#2",
          "text": "Navigation item 2",
          "attributes": {
            "data-icon": "youtube"
          }
        },
        {
          "href": "#3",
          "text": "Navigation item 3",
          "attributes": {
            "data-icon": "twitter"
          }
        },
        {
          "href": "#4",
          "text": "Navigation item 4",
          "attributes": {
            "data-icon": "linkedin"
          }
      }
    ]
  }) }}
{% endblock %}
