$theme-brand-colour: var(
  --lbcamden-theme-brand-colour,
  lbcamden-colour("bright-grey")
);

.lbcamden-quotation {
  display: flex;
  flex-direction: column;
  @include govuk-responsive-padding(5, "top");
  @include govuk-responsive-padding(5, "bottom");

  @include govuk-media-query($from: "tablet") {
    flex-direction: row;
    @include govuk-responsive-margin(5);
  }

  svg {
    @include govuk-media-query($from: "tablet") {
      height: auto;
      padding-right: govuk-spacing(5);
    }

    flex-shrink: 0;
    align-self: flex-start;
    height: 48px;
    margin-bottom: govuk-spacing(5);
  }

  & .lbcamden-quotation-attribution {
    @extend .govuk-body-s;

    @include govuk-media-query($from: "tablet") {
      margin-bottom: govuk-spacing(3);
    }

    margin-bottom: govuk-spacing(2);
  }

  &.brand-colour {
    .lbcamden-quotation-mark {
      fill: $theme-brand-colour;
    }
  }

  &.lilac {
    .lbcamden-quotation-mark {
      fill: #6668e9;
    }
  }

  &.purple {
    .lbcamden-quotation-mark {
      fill: #4b1464;
    }
  }

  &.teal {
    .lbcamden-quotation-mark {
      fill: #00939d;
    }
  }

  &.orange {
    .lbcamden-quotation-mark {
      fill: #fc8630;
    }
  }
}
