$menu-main-bg-colour: lbcamden-colour("black");
$menu-main-text-colour: lbcamden-colour("white");

&__content {
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  background: lbcamden-colour("govuk-bg-bright2-colour");
  @include govuk-media-query($from: desktop) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 70%;
        flex: 0 0 70%;
    -ms-flex-pack: end;
        justify-content: flex-end;
    background: none;
  }

  *[hidden] {
    display: none;
  }

  @include govuk-media-query($media-type: print) {
    @extend .govuk-\!-display-none-print;
  }
}

// Navigation Top Toggle
&__navigation-toggle-wrapper {
  position: relative;
}

@import "./navigation-items";
@import "./toggle-button";
@import "./search-and-popular";

&__navigation-dropdown-menu {
  @include govuk-media-query($from: desktop) {
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
    background: lbcamden-colour("govuk-bg-bright2-colour");
  }
}

&__menu-description {
  display: none;
  @include govuk-media-query($from: desktop) {
    display: block;
    padding: 40px 0;
  }
}

&__dropdown-list-item {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 20px;
}
