$theme-tint-colour: #f0f0f0;

.lbcamden-info-callout {
  @include govuk-responsive-padding(3, "left");
  @include govuk-responsive-padding(3, "right");

  padding-top: govuk-spacing(7);
  padding-bottom: govuk-spacing(8);
  border-radius: 0 govuk-spacing(7);
  background-color: $theme-tint-colour;

  @include govuk-media-query(tablet) {
    padding-bottom: govuk-spacing(8);
  }

  @include govuk-media-query(desktop) {
    border-radius: 0 govuk-spacing(8);
  }

  &__heading {
    @include govuk-responsive-margin(2, "bottom");
  }

  &__subheading {
    @include govuk-typography-responsive(19);
    @include govuk-responsive-margin(3, "bottom");
  }

  &__content:last-child,
  &__content p:last-child {
    margin-bottom: 0;
  }

  &__content,
  &__content p,
  &__link {
    @include govuk-typography-responsive(16);
  }

  &__content:not(:last-child) {
    @include govuk-responsive-margin(5, "bottom");
  }

  .lbcamden-button {
    margin-bottom: 0;
  }
}
