// GOVUK Overrides

$govuk-focus-colour: lbcamden-colour("yellow");
$button-shadow-size: 2;

$govuk-canvas-background-colour: lbcamden-colour("govuk-bg-dark1-colour");

$govuk-font-family: inherit;
$govuk-font-family: "Inter", arial, sans-serif;
$govuk-global-styles: true; // Applies styles to entire site eg. p and ul

$govuk-page-width: 1170px;

$govuk-text-colour: lbcamden-colour("black");
$govuk-link-colour: lbcamden-colour("blue");
$govuk-link-hover-colour: lbcamden-colour("dark-blue");
$govuk-link-visited-colour: lbcamden-colour("purple");

$govuk-warning-button-colour: lbcamden-colour("dark-red");

$govuk-brand-colour: lbcamden-colour("govuk-brand1-1-colour");
$govuk-success-colour: lbcamden-colour("green");

$govuk-error-colour: lbcamden-colour("dark-red");

$govuk-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  desktop: 769px,
  wide: 1024px
);
