---
scenario: You are interested in birth re-registration
notes:
---
{% extends "full-page-example.njk" %}

{% from "node_modules/govuk-frontend/dist/govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "node_modules/govuk-frontend/dist/govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Birth Re-registrations" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block header %}
  {{ LBCamdenHeader({

  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      },
      {
        text: "Births, deaths, marriages and citizenship",
        href: "#/"
      },
      {
        text: "Birth registrations in Camden",
        href: "#/"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1>Registering as a food business</h1>

      <h2 class="govuk-heading-s">Contents</h2>

      <ul class="lbcamden-list--dash">

        <li><a href="#1">Who needs to register?</a></li>

        <li><a href="#2">How to register a food business</a></li>

        <li><a href="#3">What happens next?</a></li>

        <li><a href="#4">Advice and information</a></li>

        <li><a href="#5">Change your registration</a></li>

      </ul>

      <!-- Actual content goes here -->

      <section id="1">
        <h2>Who needs to register?</h2>

        <p>Register your business if you want to carry out any food operations. Food operations include:</p>

        <ul>
          <li>selling food</li>
          <li>cooking food</li>
          <li>storing or handling food</li>
          <li>preparing food</li>
          <li>distributing food</li>
        </ul>

        <p>You must register:</p>

        <ul>
          <li>any food business running for five or more days, over five consecutive weeks</li>
          <li>at least 28 days before opening</li>
        </ul>

        <h3>Food businesses with vehicles</h3>

        <p>If your business uses vehicles and you have a permanent premises (e.g. shop or warehouse), you need to tell
          us the number of vehicles. You don’t need to register each vehicle separately.</p>

        <p>If you have vehicles but no permanent premises, you must tell us where they are normally kept.</p>

        <h3>Types of premises that may be exempt from registration include:</h3>
        <ul>
          <li>those already approved to manufacture animal-based foods</li>
          <li>agricultural premises</li>
          <li>motorcars</li>
          <li>tents and marquees (not stalls) – unless part of a market or to provide food at a festival or similar
            event
          </li>
          <li>domestic premises if they are only used to make food for friends and family</li>
          <li>some village halls</li>
        </ul>

        <p>For further information concerning registration Contact the food safety team on 0207 974 4444 or
          foodsafety@camden.gov.uk</p>
      </section>

      <section id="2">
        <h2>How to register a food business</h2>

        <p>To register a food business:</p>

        <ol>
          <li>Print out the register a food business form (PDF)</li>
          <li>Return the completed and signed form to:</li>
        </ol>

        <p>Contact Camden <br>
          London Borough of Camden<br>
          Town Hall<br>
          Argyle Street<br>
          London<br>
          WC1H 8EQ</p>

        <p>If you would like a receipt for your registration, include a stamped-addressed envelope.</p>

        <p>You must register with the council where your business operates. If you use premises in various areas, you
          must
          register with each council separately:</p>

        <p>Find your local council at gov.uk</p>

      </section>

      <section id="3">
        <h2>What happens next?</h2>

        <p>We will add your business to our food businesses public register. The public can then view the:</p>

        <ul>
          <li>name of the business (if any)</li>
          <li>address and telephone number</li>
          <li>type of business at each premises</li>
        </ul>

        <p>All other records are not publicly available.</p>

        <p>We will arrange a food safety inspection of your premises once you open for business. During this visit a
          risk
          assessment and rating will be completed.</p>

        <p>When carrying out the risk assessment we consider:</p>

        <ul>
          <li>potential hazards</li>
          <li>compliance with legislation</li>
          <li>confidence in management and control systems</li>
          <li>the significance of risks</li>
        </ul>

        <p>Potential hazards are the:</p>

        <ul>
          <li>types of food involved and the method of handling them,</li>
          <li>the methods of processing and handling food</li>
          <li>type and number of consumers at risk</li>
        </ul>

        <p>Compliance relates to how the food operation is conducted and the physical environment that this takes place
          in.</p>

        <p>All of these categories are given a score rating and this is totalled to determine how often we will inspect
          the
          premises.</p>
      </section>

      <section id="4">
        <h2>Advice and information</h2>

        <p>Call Food Safety on 0207 974 4444 for:</p>

        <ul>
          <li>food safety information packs</li>
          <li>advice on running a safe food business</li>
        </ul>
      </section>

      <section id="5">
        <h2>Change your registration</h2>

        <p>You need to tell us about changes to the:</p>

        <ul>
          <li>nature of the business</li>
          <li>address at which moveable premises are kept</li>
        </ul>

        <p>If the business changes owner, the new owner must register again.</p>

        <p>We might make changes because of information from someone else. We will give you 28 days’ notice to comment
          on any proposed changes.</p>

        <p>Call Food Safety on 0207 974 4444.</p>
      </section>

      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-9 govuk-!-margin-top-9">Page updated on: 10 June 2022</p>

      <a href="#main-content">Back to contents</a>

    </div>
  </div>
{% endblock %}
