{% set headingLevel = params.heading.headingLevel if params.heading.headingLevel else 2 %}
<div
  class="LBCamden-Card {{ params.classes if params.classes }}{% if params.type %} LBCamden-Card--{{ params.type }}{% endif %}{% if params.clickable %} LBCamden-Card--clickable{% endif %}{% if params.topBorder %} LBCamden-Card--top-border{% endif %}"
  data-module="lbcamden-card"
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
<h{{ headingLevel }} class="{% if params.popular %}govuk-heading-s{% else %}govuk-heading-m{% endif %}">
  {% if params.heading.href %}
    <a href="{{ params.heading.href }}">
      {{ params.heading.title }}
    </a>
  {% else %}
    {{ params.heading.title }}
  {% endif %}
</h{{ headingLevel }}>
{%- if params.content %}
  <div class="LBCamden-Card__content">
    {% if params.content.text %}
      <p>{{ params.content.text }}</p>
    {% else %}
      <p>{{ params.content.html | safe }}</p>
    {% endif %}
  </div>
{%- endif %}
</div>
