.lbcamden-image-component,
.lbcamden-image-component figure {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;

  .lbcamden-image__wrapper,
  .lbcamden-image {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }

  figcaption {
    padding: 10px;
    color: $govuk-text-colour;
    background-color: govuk-colour("light-grey");

    p {
      margin: 0;
      padding: 0;
    }
  }
}
