{% from "node_modules/lbcamden-frontend/lbcamden/components/image/macro.njk" import LBCamdenImage %}
{% if params.caption == "\n" %}
    <div class="fh-image">{{ LBCamdenImage(params.image) }}</div>
{% else %}
    <figure class="fh-image">
        {{ LBCamdenImage(params.image) }}
        <figcaption class="fh-image__caption">{{ params.caption | safe }}</figcaption>
    </figure>
{% endif %}