---
scenario: You want to change your name by deed poll
notes:
---
{% extends "full-page-example.njk" %}
{% set mainClasses = 'govuk-width-container' %}

{% from "engagement-banner/macro.njk" import LBCamdenEngagementBanner %}
{% from "promo-gallery/macro.njk" import LBCamdenPromoGallery %}
{% from "card-gallery/macro.njk" import LBCamdenCardGallery %}
{% from "hero/macro.njk" import LBCamdenHero %}


{% block styles %}
  <style>
    body {
      background-color: #F6F6F6 !important;
      overflow-x: hidden;
    }

    .govuk-main-wrapper {
      padding-top: 0;
    }
  </style>
{% endblock %}

{% set pageTitle = "Home" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block content %}

{{ LBCamdenHero({
  welcomeMessage: "Welcome to Camden.gov.uk",
  image: {
    src: "/example-assets/images/hero-pride.png"
  },
  linkHeading: "Popular tasks",
  links: [
    {
      "label": "Get a resident permit parking",
      "href": "#"
    },
    {
      "label": "Search for a planning application",
      "href": "#"
    },
    {
      "label": "Book a housing repair",
      "href": "#"
    },
    {
      "label": "Search for a business license",
      "href": "#"
    },
    {
      "label": "Get Council Tax support",
      "href": "#"
    },
    {
      "label": "Find a job at Camden",
      "href": "#"
    }
  ],
  "engagement": {
    "heading": "Celebrate Camden culture",
    "content": "<p>We're making the most of Culture Week in Camden, with lots of free events and things to do.</p>"
  }
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ LBCamdenPromoGallery({
      "heading": "Popular",
      "showAllHref": "#",
      "showAllLabel": "All services",
      "classes": "govuk-!-margin-bottom-9",
      "panel": true,
      "items": [
        {
          "title": "Housing Repairs",
          "href": "#1"
        },
        {
          "title": "Leaseholder and Freeholders",
          "href": "#2"
        },
        {
          "title": "Bid for a property",
          "href": "#3"
        },
        {
          "title": "Apply for council housing",
          "href": "#4"
        }
      ]
    }) }}
  </div>
</div>


{{ LBCamdenCardGallery({
  "heading": "Get more from Camden",
  "shortDescription": "Find relevant services, support and things to do.",
  "classes": "govuk-!-margin-bottom-9",
  "items": [
    {
      "title": "Starting school",
      "href": "#1",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Get help and support for you and your child, apply for a new school place, find term dates and school travel."
    },
    {
      "title": "Moving into Camden",
      "href": "#2",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Check off what you need to do when you move into Camden, and what to do if you need support."
    },
    {
      "title": "Making the most of Summer",
      "href": "#3",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Find out what’s happening in Camden, host a street party, or get support over the summer holidays."
    },
    {
      "title": "Starting school",
      "href": "#4",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Get help and support for you and your child, apply for a new school place, find term dates and school travel."
    }
  ]
}) }}

{{ LBCamdenCardGallery({
  "heading": "Get more from Camden",
  "shortDescription": "Find relevant services, support and things to do.",
  "classes": "govuk-!-margin-bottom-9",
  "surround": true,
  "items": [
    {
      "title": "Starting school",
      "href": "#1",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Get help and support for you and your child, apply for a new school place, find term dates and school travel."
    },
    {
      "title": "Moving into Camden",
      "href": "#2",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Check off what you need to do when you move into Camden, and what to do if you need support."
    },
    {
      "title": "Making the most of Summer",
      "href": "#3",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Find out what’s happening in Camden, host a street party, or get support over the summer holidays."
    },
    {
      "title": "Starting school",
      "href": "#4",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Get help and support for you and your child, apply for a new school place, find term dates and school travel."
    }
  ]
}) }}


{{ LBCamdenEngagementBanner({
  "image": {
    "src": "/example-assets/images/1200x800.webp",
    "alt": "Image alt text"
  },
  "heading": "News",
  "shortDescription": "Find out what’s going on in our community with all the latest news stories, announcements, and events.",
  "classes": "govuk-!-margin-bottom-9",
  "link": "#",
  "linkText": "All news"
}) }}

{% endblock %}

{% block footer %}
  {{ LBCamdenFooter({
    "navigation": [
        {
          "href": "#1",
          "text": "Home"
        },
        {
          "href": "#2",
          "text": "Site map"
        },
        {
          "href": "#3",
          "text": "Contact Camden Council"
        }
    ],
    "navigationSecondary": [
        {
          "href": "#4",
          "text": "Subscribe to our e-newsletter",
          "attributes": {
            "data-highlighted": true
          }
        }
    ],
    "navigationUtility": [

        {
          "href": "#1",
          "text": "Accessibility statement"
        },
        {
          "href": "#2",
          "text": "Freedom of information disclaimer"
        },
        {
          "href": "#3",
          "text": "Privacy statement & cookies"
        },
        {
          "href": "#4",
          "text": "Modern slavery statement"
        }
    ],

    "navigationSocial": [
        {
          "href": "#1",
          "text": "Navigation item 1",
          "attributes": {
            "data-icon": "facebook"
          }
        },
        {
          "href": "#2",
          "text": "Navigation item 2",
          "attributes": {
            "data-icon": "youtube"
          }
        },
        {
          "href": "#3",
          "text": "Navigation item 3",
          "attributes": {
            "data-icon": "twitter"
          }
        },
        {
          "href": "#4",
          "text": "Navigation item 4",
          "attributes": {
            "data-icon": "linkedin"
          }
      }
    ]
  }) }}
{% endblock %}
