$header-height: 50px;
$header-bg-colour: lbcamden-colour("white");
$header-text-colour: lbcamden-colour("black");
$header-text-colour-hover: lbcamden-colour("black");
$header-target-indicator-colour: lbcamden-colour("black");
$menu-bg-colour: lbcamden-colour("govuk-bg-bright1-colour");
$menu-text-colour: lbcamden-colour("black");
$header-bar-height: 0;
$header-bar-colour: lbcamden-colour("govuk-brand1-1-colour");
$mobile-menu-font-weight: 600;
$header-padding-bottom: 0;

@import "base";
