.lbcamden-guide-content {
  &__item {
    .lbcamden-guide-content:not(.lbcamden-guide-content--loaded) & {
      display: none;
    }

    &--hidden {
      display: none;
    }
  }

  .govuk-pagination__prev {
    border-top: 1px solid lbcamden-colour("light-grey");
  }

  .govuk-pagination__next,
  .govuk-pagination__prev {
    display: none;
  }

  &--next {
    .govuk-pagination__next {
      display: block;
    }
  }

  &--prev {
    .govuk-pagination__prev {
      display: block;
    }
  }

  &--hidden {
    display: none;
  }
}
