<article class="lbcamden-directory-record">
  <h2{% if params.recordId%} id="{{params.recordId}}"{% endif %}>{{params.title}}</h2>
  {% if params.alias %}<p>{{params.alias}}</p>{% endif %}
  <dl>
    {% for item in params.items %}
    <dt>{{item.label}}</dt>
    <dd class="govuk-body">{{item.value | safe}}</dd>
    {% endfor %}
  </dl>
</article>