.govuk-accordion {
  .js-enabled & {
    .govuk-accordion-nav__chevron {
      width: 17px;
      height: 17px;

      @include govuk-media-query($from: tablet) {
        width: 20px;
        height: 20px;
      }

      &:after {
        @include lbcamden-chevron(lbcamden-colour("blue"), -90);
        top: 2px;
        left: 3px;
      }
    }

    .govuk-accordion-nav__chevron--down {
      &:after {
        @include lbcamden-chevron(lbcamden-colour("blue"), -90);
        top: 2px;
        left: 3px;
      }
    }

    .govuk-accordion__section-button,
    .govuk-accordion__show-all {
      &:hover {
        .govuk-accordion__section-toggle {
          .govuk-accordion__section-toggle-text {
            color: lbcamden-colour("dark-blue");
          }
        }

        .govuk-accordion-nav__chevron {
          border-color: lbcamden-colour("dark-blue");
          background: lbcamden-colour("dark-blue");

          &:after {
            @include lbcamden-chevron(lbcamden-colour("white"), -90);
            top: 2px;
            left: 3px;
          }
        }

        .govuk-accordion-nav__chevron--down {
          &:after {
            @include lbcamden-chevron(lbcamden-colour("white"), -90);
            top: 2px;
            left: 3px;
          }
        }
      }

      &:focus {
        .govuk-accordion-nav__chevron {
          &:after {
            @include lbcamden-chevron(lbcamden-colour("yellow"), -90);
            top: 2px;
            left: 3px;
          }
        }

        .govuk-accordion-nav__chevron--down {
          &:after {
            @include lbcamden-chevron(lbcamden-colour("yellow"), -90);
            top: 2px;
            left: 3px;
          }
        }
      }
    }

    &__section-button {
      &:hover {
        background: lbcamden-colour("govuk-bg-bright1-colour");
      }
    }
  }
}
