ul,
ol {
  @extend .govuk-list;
}

ol {
  @extend .govuk-list--number;
}

ul {
  @extend .govuk-list--bullet;
}

.LBCamden-List {
  &--dash {
    @extend .govuk-list--spaced;
    padding: 0;
    list-style: none outside;

    li {
      @include govuk-responsive-padding(5, "left");
      @include govuk-font(16);
      position: relative;

      &:before {
        content: "—";
        position: absolute;
        left: 0;
        width: 15px;
        overflow: hidden;
      }
    }
  }
}
