.govuk-notification-banner {
  border-color: lbcamden-colour("dark-blue");
  background: lbcamden-colour("dark-blue");

  &--success {
    border-color: lbcamden-colour("green");
    background: lbcamden-colour("green");

    .govuk-notification-banner__link {
      &:link {
        color: lbcamden-colour("govuk-link-colour");
      }

      &:hover {
        color: lbcamden-colour("govuk-link-colour");
      }
    }
  }
}
