.govuk-pagination {
  .govuk-pagination__link {
    svg {
      @extend .govuk-visually-hidden;
    }
  }

  &__prev,
  &__next,
  &__item:not(.govuk-pagination__item--current) {
    &:hover {
      background: lbcamden-colour("govuk-bg-bright1-colour");
    }
  }

  &__prev {
    .govuk-pagination__link {
      @include govuk-responsive-padding(5, "left");

      &:before {
        content: "";
        position: absolute;
        left: 0;
        @include lbcamden-chevron(lbcamden-colour("grey"), 180, 1, 3);
      }
    }
  }

  &__next {
    .govuk-pagination__link {
      @include govuk-responsive-padding(5, "right");

      &:before {
        content: "";
        position: absolute;
        right: 0;
        @include lbcamden-chevron(lbcamden-colour("grey"), 0, 1, 3);
      }
    }
  }

  &--block {
    .govuk-pagination__prev,
    .govuk-pagination__next {
      .govuk-pagination__link {
        position: relative;

        &:before {
          top: 4px;
          left: 0;
        }
      }
    }

    .govuk-pagination__next {
      .govuk-pagination__link {
        @include govuk-responsive-padding(5, "left");
        @include govuk-responsive-padding(0, "right");
      }
    }
  }
}
