.govuk-tag {
  border-radius: 3px;
  color: lbcamden-colour("govuk-bg-bright2-colour");
  background: lbcamden-colour("dark-blue");

  &--inverted {
    color: lbcamden-colour("dark-blue");
    background: lbcamden-colour("govuk-bg-bright2-colour");
  }

  &--grey {
    color: lbcamden-colour("white");
    background: lbcamden-colour("black");

    &--inverted {
      color: lbcamden-colour("black");
      background: lbcamden-colour("bright-grey");
    }
  }

  &--green {
    color: lbcamden-colour("bright-green");
    background: lbcamden-colour("green");

    &--inverted {
      color: lbcamden-colour("green");
      background: lbcamden-colour("bright-green");
    }
  }

  &--purple {
    color: lbcamden-colour("bright-purple");
    background: lbcamden-colour("dark-purple");

    &--inverted {
      color: lbcamden-colour("dark-purple");
      background: lbcamden-colour("bright-purple");
    }
  }

  &--red {
    color: lbcamden-colour("bright-red");
    background: lbcamden-colour("dark-red");

    &--inverted {
      color: lbcamden-colour("dark-red");
      background: lbcamden-colour("bright-red");
    }
  }

  &--orange {
    color: lbcamden-colour("bright-yellow");
    background: lbcamden-colour("dark-yellow");

    &--inverted {
      color: lbcamden-colour("dark-yellow");
      background: lbcamden-colour("bright-yellow");
    }
  }

  &--yellow {
    color: lbcamden-colour("dark-yellow");
    background: lbcamden-colour("bright-yellow");

    &--inverted {
      color: lbcamden-colour("bright-yellow");
      background: lbcamden-colour("dark-yellow");
    }
  }

  &--turquoise {
    @extend .govuk-tag--inverted;
  }

  &--pink {
    @extend .govuk-tag--red--inverted;
  }
}
