& {
  position: relative;
  border-bottom: $header-bar-height solid $header-bar-colour;
  color: $header-text-colour;
  background: $header-bg-colour;
}

.lbcamden-header {
  &__bar {
    min-height: $header-height;
  }

  &__title,
  &__logo {
    @include govuk-responsive-margin(2, "top");
    @include govuk-responsive-margin(2, "bottom");
    display: inline-block;
    height: 30px;

    @include govuk-media-query($from: desktop) {
      display: block;
      padding-bottom: $header-padding-bottom;
      float: left;
    }

    &:hover {
      box-shadow: 0 3px lbcamden-colour("white");
    }
  }

  &__logo {
    width: 140px;
    max-width: 140px;
  }

  &__title {
    @include govuk-font(24);
    @include govuk-typography-weight-bold;

    font-size: 24px;
  }

  &--with-phase-banner {
    margin-bottom: 0;
  }

  &__link {
    display: block;
    max-width: 100%;
    margin-top: 2px;
    color: $header-text-colour;

    &:not(:hover) {
      text-decoration: none;
    }

    &:visited,
    &:link {
      color: $header-text-colour;
    }

    &:focus {
      color: lbcamden-colour("black");
      background: $govuk-focus-colour;
    }
  }

  @import "./navigation";
}
