&__navigation-items,
&__search-items {
  @extend .govuk-grid-row;
  margin-bottom: 0;

  @include govuk-media-query($until: desktop) {
    margin: 0 -30px;
  }

  @include govuk-media-query($until: tablet) {
    margin: 0 -15px;
  }

  @include govuk-media-query($from: desktop) {
    margin: 0;
  }

  &[hidden] {
    display: none;
  }

  @include govuk-media-query($until: desktop) {
    @include govuk-responsive-padding(6, "left");
    background: $menu-bg-colour;
  }

  @include govuk-media-query($until: tablet) {
    @include govuk-responsive-padding(4, "left");
  }

  @at-root #{selector-append(".js-module-initialised", &)} {
    @include govuk-media-query($until: desktop) {
      padding: 0;
      @include govuk-responsive-padding(6, "top");
      @include govuk-responsive-padding(6, "bottom");
    }
  }
}

&__navigation-items {
  @include govuk-media-query($from: desktop) {
    display: inline-block;
  }

  @at-root #{selector-append(".js-module-initialised", &)} {
    @include govuk-media-query($until: desktop) {
      padding: 0;
      @include govuk-responsive-padding(4, "top");
      @include govuk-responsive-padding(4, "bottom");
    }
  }
}

&__navigation-item,
&__search-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;

  @at-root #{selector-append(".js-module-initialised", &)} {
    @include govuk-media-query($until: desktop) {
      padding: 0 30px;
    }
    @include govuk-media-query($until: tablet) {
      padding: 0 15px;
    }
  }

  @include govuk-media-query($from: desktop) {
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 1rem;
  }
}

&__navigation-item {
  @include govuk-media-query($from: desktop) {
    padding: 0;
    border-bottom: 0;

    &:first-child {
      .lbcamden-header__navigation-item-link-inner,
      .lbcamden-header__navigation-second-toggle-button-inner {
        border: none;
      }
    }
  }
}

&__navigation-item-link,
&__search-item-link {
  @include govuk-link-style-no-underline;
  @include govuk-typography-weight-bold;
  @include govuk-font(16, bold);

  &:link,
  &:visited {
    color: lbcamden-colour("govuk-link-colour");
  }

  &:focus {
    color: lbcamden-colour("black");
  }

  @include govuk-media-query($from: desktop) {
    color: $header-text-colour;

    &:link,
    &:visited {
      color: $header-text-colour;
    }
  }
}

@mixin navigation-toggles {
  &__navigation-item-link,
  &__navigation-second-toggle-button {
    @include govuk-media-query($from: desktop) {
      @content;
    }
  }

  &__navigation-top-toggle-button,
  &__search-toggle-button {
    @content;
  }
}

@include navigation-toggles {
  @include govuk-font(16, 600);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
  }

  &:hover:not(:focus) {
    &:not(.lbcamden-header__open-button) {
      color: $header-text-colour-hover;

      &:after {
        content: "";
        position: absolute;
        top: auto;
        right: 15px;
        bottom: 0;
        left: 15px;
        width: auto;
        height: 3px;
        background: $header-target-indicator-colour;
      }

      &.lbcamden-header__search-toggle-button {
        &:after {
          right: 10%;
          left: 10%;
        }
      }
    }
  }

  &:focus:focus-visible,
  &:focus:not(.lbcamden-header__open-button) {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: $govuk-focus-colour;
    box-shadow: none;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      top: auto;
      right: 15px;
      bottom: 0;
      left: 15px;
      width: auto;
      height: 3px;
      background: lbcamden-colour("black");
    }

    &.lbcamden-header__search-toggle-button {
      &:after {
        right: 10%;
        left: 10%;
      }
    }
  }

  &.lbcamden-header__open-button {
    background-color: $menu-bg-colour;
  }
}

&__navigation-second-toggle-button {
  @include govuk-media-query($until: desktop) {
    &:hover {
      @include govuk-link-decoration;
      @include govuk-link-hover-decoration;
    }

    &:focus:not(.lbcamden-header__open-button),
    &:focus-visible {
      @include govuk-focused-text;
    }
  }
}

&__navigation-item-link,
&__search-item-link,
&__navigation-second-toggle-button {
  display: inline-block;
  margin: 15px 0;
  color: $header-text-colour;

  @include govuk-media-query($until: desktop) {
    width: 100%;
    text-align: left;
  }

  @include govuk-media-query($from: desktop) {
    display: block;
    position: relative;
    height: 20px;
    margin: 0;
    @include govuk-responsive-padding(3, "top");
    @include govuk-responsive-padding(3, "bottom");
    float: left;
    text-decoration: none;
  }

  &[hidden] {
    display: none;
  }
}

&__navigation-item-link {
  @include govuk-media-query($until: desktop) {
    //@include govuk-responsive-padding(2, "left");
  }

  @include govuk-media-query($from: desktop) {
    &-inner {
      @include govuk-responsive-padding(1, "all");
      @include govuk-responsive-padding(3, "left");
      @include govuk-responsive-padding(3, "right");
      border-left: 1px solid lbcamden-colour("light-grey-2");
    }

    line-height: normal;
  }
}

&__navigation-second-items {
  padding-left: 0;
  font-size: inherit;
  list-style: none;

  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    @include govuk-responsive-padding(6, "top");

    li {
      flex: 0 0 50%;
    }
  }

  &__dropdown-list-item {
    p {
      font-size: inherit;
    }
  }

  &.lbcamden-header__navigation-second-items--full {
    li {
      flex: 0 0 33%;
    }
  }
}

&__navigation-second-item {
  &-description {
    @include govuk-font(16);
    margin: 0;
  }
}
