&__content {
  flex: 1 0 100%;
  background: lbcamden-colour("govuk-bg-bright1-colour");
  @include govuk-media-query($from: desktop) {
    display: flex;
    flex: 0 0 70%;
    justify-content: flex-end;
    background: none;
  }

  *[hidden] {
    display: none;
  }

  @include govuk-media-query($media-type: print) {
    @extend .govuk-\!-display-none-print;
  }
}

// Navigation Top Toggle
&__navigation-toggle-wrapper {
  position: relative;
}

@import "./navigation-items";
@import "./toggle-button";
@import "./search-and-popular";

&__navigation-dropdown-menu {
  @include govuk-media-query($from: desktop) {
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
    background: $menu-bg-colour;
  }
}

&__menu-description {
  display: none;
  @include govuk-media-query($from: desktop) {
    display: block;
    padding: 40px 0;
  }
}

&__dropdown-list-item {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 20px;
}

&__navigation-items:last-child {
  li:last-child {
    .lbcamden-header__navigation-item-link-inner {
      border-right: none;
    }
  }
}
