&__search-and-popular {
  flex-direction: column;
  align-items: stretch;

  @include govuk-media-query($from: desktop) {
    padding-bottom: 20px;
    @include govuk-responsive-padding(6, "top");
  }
}

&__search-items {
  &[hidden] {
    display: none;
  }

  @at-root #{selector-append(".js-module-initialised", &)} {
    background: lbcamden-colour("govuk-bg-bright1-colour");

    @include govuk-media-query($from: desktop) {
      position: absolute;
      left: 0;
      width: 100%;
    }
  }
}

&__search-item-link-icon {
  pointer-events: none;
  @include govuk-media-query($until: desktop) {
    @include govuk-visually-hidden;
  }
}

&__search-item-link {
  &:link {
    &:hover {
      &:after {
        @include govuk-media-query($from: desktop) {
          right: 0;
          left: 0;
        }
      }
    }

    &:focus {
      color: $govuk-focus-text-colour;
      background: lbcamden-colour("govuk-focus-colour");
    }
  }

  svg {
    display: none;

    @include govuk-media-query($from: desktop) {
      display: block;
    }
  }
}

&__search-form {
  padding: 15px 0 30px;
}

&__popular-item {
  position: relative;
  padding: 5px 0;

  &:before {
    content: none;
  }
}

&__popular-link {
  display: inline-block;
  padding: 0;
}

&__popular-link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none;
}

&__search-item-link-text {
  @include govuk-media-query($from: desktop) {
    @include govuk-visually-hidden;
  }
}

@include govuk-media-query($from: desktop) {
  &__popular-link:after {
    content: none;
  }
}
