.lbcamden-footer {
  @extend .govuk-footer;

  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  @include govuk-font(16);
  max-width: 100vw;
  padding: 0;
  overflow-x: hidden;

  background: lbcamden-colour("grey");

  h3 {
    @extend .govuk-body-s;
    @include govuk-responsive-margin(2, "bottom");
    color: lbcamden-colour("white");
  }

  .lbcamden-footer__list--navigation-utility {
    @include govuk-media-query($from: desktop) {
      @include govuk-responsive-margin(3, "left");
    }
  }

  &__section:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    @include govuk-media-query($from: desktop) {
      padding: 0
    }
  }

  a {
    color: lbcamden-colour("white");
    @extend .govuk-link--no-underline;
    @include govuk-font(16);

    &:focus {
      color: lbcamden-colour("black");
    }
  }

  hr {
    margin: 0;
  }

  &__sponsor-logos {
    @include govuk-responsive-margin(7, "top");
    max-width: 100%;
  }

  &__sponsor {
    @include govuk-responsive-margin(3, top);
    display: block;

    img {
      width: auto;
      max-width: 250px;
      height: auto;
      max-height: 250px;
    }
  }

  &__list-item {
    @include govuk-responsive-margin(6, "bottom");

    a {
      &[data-highlighted="true"] {
        border-radius: 3px;
        background: lbcamden-colour("govuk-brand1-1-colour");
        @include govuk-responsive-padding(1);

        &:focus {
          border-radius: 0;
          background: lbcamden-colour("govuk-focus-colour");
        }
      }
    }
  }

  &__section {
    @include govuk-responsive-margin(9, "bottom");
  }

  &__estate {
    @include govuk-responsive-padding(6, "top");
    @include govuk-responsive-padding(6, "bottom");
    @include govuk-responsive-padding(6, "top");
    @include govuk-responsive-padding(6, "bottom");

    margin-right: -($govuk-gutter-half);
    margin-left: -($govuk-gutter-half);
    flex-shrink: 0;

    .lbcamden-footer__list-item {
      @include govuk-media-query($from: desktop) {
        display: inline-block;
      }
    }

    .lbcamden-footer__list-item a {
      @include govuk-font(16);

      @include govuk-media-query($from: desktop) {
        @include govuk-responsive-margin(7, "right");
        display: inline-block;
      }
    }
  }

  &__lower {
    display: flex;

    margin-right: -($govuk-gutter-half);
    margin-left: -($govuk-gutter-half);
    color: lbcamden-colour("white");
    @include govuk-font(16);
    flex-direction: column;
    @include govuk-responsive-margin(6, "top");
    @include govuk-responsive-margin(6, "bottom");

    @include govuk-media-query($from: tablet) {
      flex-direction: row;
      align-items: center;
    }
    @include govuk-responsive-padding(4, "bottom");
  }

  &__logo {
    display: block;
    width: govuk-spacing(9) * 2;
    margin-bottom: -3px;

    @include govuk-responsive-margin(7, "right");

    @include govuk-media-query($until: tablet) {
      @include govuk-responsive-margin(3, "bottom");
    }

    .lbcamden-logo {
      color: lbcamden-colour("white");
    }
  }

  &__link {
    @extend .govuk-footer__link;

    display: block;
    max-width: 100%;
    color: lbcamden-colour("white");

    &:visited {
      color: lbcamden-colour("white");
    }

    &:focus {
      color: lbcamden-colour("black");
      background: lbcamden-colour("govuk-focus-colour");
    }
  }

  &__navigation {
    @extend .govuk-footer__navigation;

    @include govuk-responsive-padding(7, "top");
    @include govuk-responsive-padding(5, "bottom");
  }

  &__socials {
    @include govuk-media-query($from: desktop) {
      display: flex;
      flex-direction: row;
    }
  }

  &__list {
    @extend .govuk-footer__list;

    &--primary {
      @include govuk-media-query($from: desktop) {
        @supports (display: grid) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
        padding-right: 0;

        > * {
          display: inline-block;

          &:nth-child(odd) {
            width: calc(50% + 45px);
          }
        }
      }
    }

    &--social {
      //display: inline-flex;

      &__item {
        display: inline-block;

        a {

          display: block;
          width: 34px;
          width: govuk-spacing(7);
          height: 34px;
          height: govuk-spacing(7);
          background-repeat: no-repeat;
          background-position: center;
          text-indent: -9999em;
          @include govuk-responsive-margin(3, "right");

          &:hover {
            opacity: .8;
          }

          &:focus {
            box-shadow: 0 0 0 2px lbcamden-colour("govuk-focus-colour");
          }

          @include govuk-media-query($until: tablet) {
            @include govuk-responsive-margin(2, "bottom");
          }

          &[data-icon="facebook"] {
            //@include background-svg("<svg viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'><path d='M449.446 0C483.971 0 512 28.03 512 62.554v386.892C512 483.97 483.97 512 449.446 512H342.978V319.085h66.6l12.672-82.621h-79.272v-53.617c0-22.603 11.073-44.636 46.58-44.636H425.6v-70.34s-32.71-5.582-63.982-5.582c-65.288 0-107.96 39.569-107.96 111.204v62.971h-72.573v82.621h72.573V512H62.554C28.03 512 0 483.97 0 449.446V62.554C0 28.03 28.029 0 62.554 0h386.892Z' fill='#1777f2'/></svg>");
            @include background-svg(
              "<svg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'><path d='M29.75 34H4.25C1.904 34 0 32.096 0 29.75V4.25C0 1.904 1.904 0 4.25 0H29.75C32.096 0 34 1.904 34 4.25V29.75C34 32.096 32.096 34 29.75 34Z' fill='#1877F2'/><path d='M23.6174 21.9141L24.3711 17H19.6562V13.811C19.6562 12.4666 20.3148 11.1562 22.4267 11.1562H24.5703V6.97266C24.5703 6.97266 22.6248 6.64062 20.7649 6.64062C16.8817 6.64062 14.3438 8.99406 14.3438 13.2547V17H10.0273V21.9141H14.3438V33.7935C15.2092 33.9293 16.0963 34 17 34C17.9037 34 18.7907 33.9293 19.6562 33.7935V21.9141H23.6174Z' fill='white'/></svg>"
            );
            background-size: contain;
          }

          &[data-icon="linkedin"] {
            @include background-svg(
              "<svg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M34 4.25C34 1.90433 32.0957 0 29.75 0H4.25C1.90433 0 0 1.90433 0 4.25V29.75C0 32.0957 1.90433 34 4.25 34H29.75C32.0957 34 34 32.0957 34 29.75V4.25Z' fill='#2867B2'/><path d='M10.6759 12.7742H5.31592V28.8969H10.6759V12.7742Z' fill='white'/><path d='M8.03202 5C6.19819 5 5 6.20563 5 7.78583C5 9.33283 6.16176 10.5717 7.96108 10.5717H7.9957C9.86465 10.5717 11.028 9.33283 11.028 7.78583C10.9933 6.20563 9.86477 5 8.03202 5Z' fill='white'/><path d='M23.83 12.3953C20.9869 12.3953 19.7134 13.9588 19.0003 15.0571V12.7744H13.6416C13.7127 14.2867 13.6416 28.897 13.6416 28.897H19.0002V19.893C19.0002 19.411 19.0348 18.9292 19.1769 18.5848C19.5636 17.6223 20.4459 16.6253 21.9265 16.6253C23.8647 16.6253 24.6412 18.1043 24.6412 20.2707V28.897H30.0001V19.6514C30.0001 14.699 27.356 12.3953 23.83 12.3953Z' fill='white'/></svg>"
            );
            background-size: contain;
          }

          &[data-icon="messenger"] {
            @include background-svg(
              "<svg height='1024' width='1024' xmlns='http://www.w3.org/2000/svg'><defs><radialGradient cx='19.2474387%' cy='99.4651948%' fx='19.2474387%' fy='99.4651948%' id='a' r='108.959588%'><stop offset='0%' stop-color='#09F'/><stop offset='60.9753877%' stop-color='#A033FF'/><stop offset='93.482299%' stop-color='#FF5280'/><stop offset='100%' stop-color='#FF7061'/></radialGradient></defs><g fill='none' fill-rule='evenodd'><path fill='none' d='M0 0h1024v1024H0z'/><path d='M512 122c-225.332 0-400 165.056-400 388 0 116.6144 47.792 217.3824 125.6224 286.984 6.5336 5.848 10.4776 14.04 10.7456 22.808l2.1784 71.152c.696 22.696 24.1392 37.464 44.9072 28.296l79.3944-35.048c6.7304-2.968 14.272-3.52 21.364-1.568C432.696 892.656 471.5264 898 512 898c225.332 0 400-165.056 400-388S737.332 122 512 122Z' fill='url(#a)'/><path d='m271.8016 623.4688 117.5-186.416c18.6904-29.656 58.7144-37.04 86.7584-16.008l93.4536 70.0904c8.5744 6.432 20.372 6.3976 28.9104-.0824l126.2136-95.788c16.8464-12.784 38.836 7.376 27.5624 25.2664L634.7 606.9488c-18.692 29.6544-58.716 37.04-86.7584 16.0064l-93.456-70.092c-8.5736-6.4304-20.372-6.396-28.9096.084l-126.2144 95.788c-16.8456 12.7832-38.836-7.3768-27.56-25.2664Z' fill='#FFF'/></g></svg>"
            );
            background-size: contain;
          }

          &[data-icon="twitter"] {
            @include background-svg(
              "<svg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'><path d='M29.75 34H4.25C1.904 34 0 32.096 0 29.75V4.25C0 1.904 1.904 0 4.25 0H29.75C32.096 0 34 1.904 34 4.25V29.75C34 32.096 32.096 34 29.75 34Z' fill='black'/><path d='M15.0973 15.4686L7.65183 7H9.41616L15.881 14.3532L21.0445 7H27L19.1918 18.1193L27 27H25.2356L18.4085 19.2348L12.9555 27H7L15.0977 15.4686H15.0973ZM17.5139 18.2173L18.305 17.1101L24.5998 8.29968H21.8898L16.8098 15.4099L16.0187 16.5172L9.41533 25.7594H12.1254L17.5139 18.2177V18.2173Z' fill='white'/></svg>"
            );
            background-size: contain;
          }

          &[data-icon="whatsapp"] {
            @include background-svg(
              "<svg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'><g clip-path='url(#clip0_19_2306)'><path d='M29.75 34H4.25C1.904 34 0 32.096 0 29.75V4.25C0 1.904 1.904 0 4.25 0H29.75C32.096 0 34 1.904 34 4.25V29.75C34 32.096 32.096 34 29.75 34Z' fill='#25D366'/><path fill-rule='evenodd' clip-rule='evenodd' d='M26.2117 7.77818C23.7679 5.343 20.5177 4.00124 17.0546 4C9.91868 4 4.11111 9.77909 4.10863 16.8826C4.10739 19.1535 4.70391 21.37 5.83675 23.3233L4 30L10.8628 28.2085C12.7536 29.2352 14.8827 29.7757 17.049 29.7764H17.0546C24.1893 29.7764 29.9975 23.9967 30 16.8931C30.0012 13.4504 28.6561 10.214 26.2117 7.7788V7.77818ZM17.0546 27.6006H17.0503C15.1198 27.6001 13.226 27.0836 11.5736 26.1082L11.1806 25.8759L7.10801 26.939L8.19491 22.9872L7.93917 22.582C6.8622 20.877 6.29298 18.9064 6.29423 16.8833C6.29671 10.9794 11.1235 6.17573 17.059 6.17573C19.9329 6.17696 22.6344 7.29201 24.666 9.31639C26.6977 11.3402 27.8156 14.0311 27.8144 16.8919C27.8119 22.7964 22.9851 27.6001 17.0546 27.6001V27.6006ZM22.9565 19.581C22.6331 19.4198 21.0429 18.6414 20.7461 18.5339C20.4494 18.4264 20.234 18.3727 20.0186 18.6951C19.8032 19.0176 19.1831 19.7428 18.9944 19.9572C18.8057 20.1722 18.617 20.1988 18.2936 20.0375C17.9702 19.8762 16.928 19.5365 15.6921 18.44C14.7306 17.5862 14.0813 16.5324 13.8926 16.2099C13.7039 15.8874 13.8728 15.7132 14.0341 15.5532C14.1794 15.4087 14.3575 15.177 14.5195 14.9892C14.6816 14.8014 14.735 14.6668 14.8429 14.4524C14.951 14.2374 14.897 14.0497 14.8163 13.8884C14.7355 13.7271 14.0888 12.1426 13.8188 11.4983C13.5562 10.8707 13.2893 10.9559 13.0913 10.9454C12.9025 10.9361 12.6872 10.9343 12.4712 10.9343C12.2551 10.9343 11.905 11.0146 11.6083 11.3371C11.3116 11.6595 10.4761 12.4385 10.4761 14.0224C10.4761 15.6063 11.635 17.1378 11.797 17.3528C11.959 17.5677 14.0782 20.819 17.3228 22.2139C18.0944 22.5456 18.6971 22.7439 19.167 22.8921C19.9417 23.1374 20.6468 23.1028 21.2042 23.02C21.8256 22.9274 23.1179 22.241 23.3873 21.4892C23.6567 20.7374 23.6567 20.0924 23.5761 19.9584C23.4954 19.8244 23.2794 19.7434 22.956 19.5822L22.9565 19.581Z' fill='white'/></g><defs><clipPath id='clip0_19_2306'><rect width='34' height='34' fill='white'/></clipPath></defs></svg>"
            );
            background-size: contain;
          }

          &[data-icon="youtube"] {
            @include background-svg(
              "<svg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'><path d='M29.75 34H4.25C1.904 34 0 32.096 0 29.75V4.25C0 1.904 1.904 0 4.25 0H29.75C32.096 0 34 1.904 34 4.25V29.75C34 32.096 32.096 34 29.75 34Z' fill='#ED1F24'/><path d='M28.4984 12.3423C28.2224 11.4203 27.4093 10.6943 26.3766 10.4479C24.5048 10 16.9999 10 16.9999 10C16.9999 10 9.49498 10 7.62313 10.4479C6.5907 10.6943 5.77737 11.4203 5.50138 12.3423C5 14.0134 5 17.5001 5 17.5001C5 17.5001 5 20.9868 5.50138 22.6577C5.77737 23.5797 6.5907 24.3059 7.62313 24.5523C9.49498 25 16.9999 25 16.9999 25C16.9999 25 24.5048 25 26.3766 24.5523C27.4093 24.3059 28.2224 23.5797 28.4984 22.6577C29 20.9868 29 17.5001 29 17.5001C29 17.5001 29 14.0134 28.4984 12.3423Z' fill='white'/><path d='M15 21L21 17.5L15 14V21Z' fill='#ED1F24'/></svg>"
            );
            background-size: contain;
          }

          &[data-icon="instagram"] {
            @include background-svg(
              "<svg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'><g clip-path='url(#clip0_19_2300)'><path d='M29.75 34H4.25C1.904 34 0 32.096 0 29.75V4.25C0 1.904 1.904 0 4.25 0H29.75C32.096 0 34 1.904 34 4.25V29.75C34 32.096 32.096 34 29.75 34Z' fill='#EA3B7E'/><path d='M11.616 4.09092C10.2328 4.15618 9.28821 4.37692 8.46245 4.7014C7.60782 5.03446 6.88345 5.4814 6.16272 6.20473C5.442 6.92805 4.99817 7.65293 4.66745 8.50885C4.34738 9.33644 4.13054 10.2818 4.06944 11.6658C4.00834 13.0498 3.99482 13.4946 4.00158 17.0249C4.00834 20.5552 4.02394 20.9977 4.09102 22.3846C4.15706 23.7675 4.37702 24.7119 4.70151 25.5379C5.03509 26.3925 5.48152 27.1166 6.2051 27.8376C6.92869 28.5586 7.65306 29.0013 8.51107 29.3326C9.33787 29.6521 10.2835 29.87 11.6672 29.9306C13.051 29.9912 13.4964 30.0052 17.0256 29.9984C20.5549 29.9917 20.9993 29.9761 22.3858 29.9103C23.7724 29.8445 24.7118 29.623 25.5381 29.3001C26.3927 28.9657 27.1174 28.5201 27.8378 27.7962C28.5583 27.0724 29.0019 26.347 29.3323 25.4906C29.6527 24.6637 29.8703 23.7181 29.9303 22.3354C29.9909 20.9478 30.0052 20.5048 29.9985 16.975C29.9917 13.4452 29.9758 13.0027 29.9101 11.6164C29.8443 10.2301 29.6241 9.2886 29.2998 8.46205C28.9657 7.60743 28.5198 6.88385 27.7965 6.16235C27.0732 5.44084 26.3472 4.99754 25.4911 4.66786C24.6637 4.3478 23.7186 4.12966 22.3349 4.06986C20.9512 4.01006 20.5058 3.99472 16.9752 4.00148C13.4446 4.00824 13.0026 4.02332 11.616 4.09092ZM11.7679 27.5919C10.5003 27.5368 9.81212 27.3262 9.35348 27.1499C8.74611 26.9159 8.31346 26.633 7.85638 26.1803C7.3993 25.7277 7.11849 25.2935 6.88137 24.6874C6.70327 24.2288 6.48877 23.5413 6.42949 22.2738C6.36501 20.9039 6.35148 20.4926 6.34394 17.0218C6.3364 13.5511 6.34966 13.1403 6.40973 11.7698C6.46381 10.5033 6.67571 9.81432 6.85173 9.35594C7.08573 8.7478 7.36758 8.31593 7.82128 7.85911C8.27498 7.40229 8.70789 7.12097 9.31447 6.88385C9.7726 6.70497 10.46 6.49229 11.727 6.43197C13.098 6.36697 13.5088 6.35397 16.9791 6.34643C20.4493 6.33889 20.8612 6.35189 22.2327 6.41221C23.4992 6.46733 24.1884 6.67715 24.6463 6.85421C25.2539 7.08821 25.6863 7.36927 26.1431 7.82375C26.6 8.27823 26.8816 8.70958 27.1187 9.31746C27.2978 9.77428 27.5105 10.4615 27.5703 11.7292C27.6356 13.1002 27.6504 13.5113 27.6566 16.9812C27.6629 20.4512 27.6506 20.8633 27.5906 22.2333C27.5352 23.5008 27.3251 24.1892 27.1486 24.6484C26.9146 25.2555 26.6325 25.6884 26.1785 26.145C25.7245 26.6015 25.2922 26.8829 24.6853 27.12C24.2277 27.2986 23.5395 27.5118 22.2735 27.5721C20.9025 27.6366 20.4917 27.6501 17.0202 27.6577C13.5486 27.6652 13.1391 27.6512 11.7681 27.5919M22.3658 10.052C22.3663 10.3605 22.4584 10.662 22.6302 10.9183C22.8021 11.1745 23.0461 11.3741 23.3314 11.4917C23.6167 11.6092 23.9304 11.6396 24.2329 11.5788C24.5355 11.5181 24.8132 11.369 25.031 11.1504C25.2487 10.9318 25.3968 10.6536 25.4564 10.3508C25.5161 10.0481 25.4846 9.73446 25.366 9.44961C25.2473 9.16476 25.0469 8.92149 24.79 8.75057C24.5331 8.57964 24.2313 8.48874 23.9227 8.48935C23.5091 8.49018 23.1127 8.65526 22.8207 8.94829C22.5288 9.24132 22.3651 9.63831 22.3658 10.052ZM10.3251 17.013C10.3324 20.6998 13.3266 23.6817 17.0126 23.6747C20.6987 23.6677 23.6827 20.6738 23.6757 16.987C23.6687 13.3002 20.6737 10.3174 16.9872 10.3247C13.3006 10.332 10.3181 13.3267 10.3251 17.013ZM12.6667 17.0083C12.665 16.1512 12.9175 15.3129 13.3922 14.5993C13.867 13.8857 14.5427 13.329 15.3339 12.9994C16.1251 12.6699 16.9962 12.5823 17.8371 12.7479C18.6781 12.9134 19.451 13.3246 20.0583 13.9295C20.6655 14.5343 21.0798 15.3056 21.2487 16.1459C21.4175 16.9862 21.3334 17.8576 21.007 18.6501C20.6806 19.4426 20.1265 20.1205 19.4148 20.5981C18.7031 21.0756 17.8658 21.3314 17.0087 21.3331C16.4396 21.3343 15.8759 21.2234 15.3497 21.0067C14.8234 20.79 14.3451 20.4717 13.9418 20.0701C13.5386 19.6685 13.2185 19.1914 12.9997 18.666C12.7809 18.1407 12.6677 17.5774 12.6667 17.0083Z' fill='white'/></g><defs><clipPath id='clip0_19_2300'><rect width='34' height='34' fill='white'/></clipPath></defs></svg>"
            );
            background-size: contain;
          }
        }
      }
    }
  }

  .lbcamden-footer__logo {
    &:hover {
      box-shadow: 0 3px lbcamden-colour("white");
    }
  }

  .lbcamden-footer__navigation {
    & + .lbcamden-footer__lower {
      @include govuk-responsive-margin(0, "top");
    }
  }
}

@media print {
  .lbcamden-footer__navigation,
  .lbcamden-footer__estate,
  .lbcamden-footer__link {
    display: none;
  }

  .lbcamden-footer {
   background: transparent;
   border: none;
  }

  .lbcamden-footer__lower {
    color: lbcamden-colour("black");
  }
}
