{% from "../logo/macro.njk" import LBCamdenLogo %}
{% from "../image/macro.njk" import LBCamdenImage %}

<footer class="lbcamden-footer {{params.classes}}" role="contentinfo" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="govuk-width-container">
    {% if params.navigation | length or params.navigationSocial.length or params.navigationSocial %}

    <div class="govuk-row lbcamden-footer__navigation">
      <ul class="lbcamden-footer__list lbcamden-footer__list--primary govuk-grid-column-two-thirds-from-desktop">
        {% for item in params.navigation %}
          <li class="lbcamden-footer__list-item">
            <a href="{{ item.href }}" {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="lbcamden-footer__section lbcamden-footer__socials govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
        <div>
          {% if params.navigationSecondary | length %}
            <ul class="lbcamden-footer__list lbcamden-footer__list--utility">
              {% for item in params.navigationSecondary %}
                <li class="lbcamden-footer__list-item">
                  <a href="{{ item.href }}" {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if params.navigationSocial | length %}
          <h3>Follow us on social media</h3>
          <ul class="lbcamden-footer__list lbcamden-footer__list--social">
            {% for item in params.navigationSocial %}
              <li class="lbcamden-footer__list--social__item">
                <a href="{{ item.href }}" {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>{{ item.text }}</a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if params.sponsorLogos | length %}
          <div class="lbcamden-footer__sponsor-logos">
            {% for sponsor in params.sponsorLogos %}
              {% if sponsor.href %}
              <a class="lbcamden-footer__sponsor" href="{{ sponsor.href }}">
              {{ LBCamdenImage(sponsor.image) }}
              </a>
              {% else %}
              <div class="lbcamden-footer__sponsor">
              {{ LBCamdenImage(sponsor.image) }}
              </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if (params.navigation | length or params.navigationSocial.length) and params.navigationUtility | length %}
      <hr />
    {% endif %}
    <div class="lbcamden-footer__estate">
      <div class="lbcamden-footer__section govuk-grid-column-full">
        <ul class="lbcamden-footer__list">
          {% for item in params.navigationUtility %}
          <li class="lbcamden-footer__list-item">
            <a href="{{ item.href }}" {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="lbcamden-footer__lower govuk-grid-column-full">
      <div class="lbcamden-footer__logo">
        <a href="https://www.camden.gov.uk/" class="lbcamden-footer__link">
          {{ LBCamdenLogo() }}
          <span class="govuk-visually-hidden">Camden Council</span>
        </a>
      </div>
      Copyright © The London Borough of Camden
    </div>
  </div>
</footer>
