.govuk-breadcrumbs {
  @extend .govuk-width-container;
  @include govuk-responsive-margin(0, "top");
  @include govuk-responsive-margin(4, "bottom");

  &__list {
    @extend .govuk-body-s;
  }

  .govuk-breadcrumbs__link {
    color: $govuk-link-colour;
    text-underline-offset: $text-underline-offset;

    &:focus {
      color: lbcamden-colour("black");
    }

    &:hover {
      color: lbcamden-colour(dark-blue);
    }
  }

  .govuk-breadcrumbs__list-item {
    &:before {
      left: -(govuk-spacing(1) / 2);
      @include lbcamden-chevron(lbcamden-colour("grey"), 0);
    }
  }
}
