////
/// @group settings/assets
////

/// Path to the assets directory, with trailing slash.
///
/// This is the directory where the images and fonts subdirectories live. You
/// will need to make this directory available via your application – see the
/// README for details.
///
/// @type String
/// @access public

$lbcamden-assets-path: "../../assets/" !default;

/// Path to the images folder, with trailing slash.
///
/// @type String
/// @access public

$lbcamden-images-path: "#{$lbcamden-assets-path}images/" !default;

/// Path to the fonts folder, with trailing slash.
///
/// @type String
/// @access public

$lbcamden-fonts-path: "#{$lbcamden-assets-path}fonts/" !default;
