---
scenario: You want to change your name by deed poll
notes:
---
{% extends "examples/layouts/full-page-example.njk" %}
{% set mainClasses = 'govuk-width-container' %}

{% from "src/lbcamden/components/engagement-banner/macro.njk" import LBCamdenEngagementBanner %}
{% from "src/lbcamden/components/promo-gallery/macro.njk" import LBCamdenPromoGallery %}
{% from "src/lbcamden/components/card-gallery/macro.njk" import LBCamdenCardGallery %}
{% from "src/lbcamden/components/hero/macro.njk" import LBCamdenHero %}

{% block styles %}
  <style>
    body {
      background-color: #F6F6F6 !important;
      overflow-x: hidden;
    }

    .govuk-main-wrapper {
      padding-top: 0;
    }
  </style>
{% endblock %}

{% set pageTitle = "Home" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}


{% block header %}
{% from "node_modules/govuk-frontend/dist/govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "src/lbcamden/components/service-banner/macro.njk" import LBCamdenServiceBanner %}

  {{ govukCookieBanner({
    "messages": [
      {
        "headingText": "Cookies on Camden's beta site",
        "html": "<p>We use some essential cookies to make this website work.</p><p>We'd like to set additional cookies so we can understand how you use the website and make improvements.</p>",
        "actions": [
          {
            "text": "Accept analytics cookies",
            "type": "submit",
            "name": "cookies",
            "value": "accept"
          },
          {
            "text": "Reject analytics cookies",
            "type": "submit",
            "name": "cookies",
            "value": "reject"
          },
          {
            "text": "How we use cookies",
            "href": "/cookie-preferences"
          }
        ]
      }
    ]
  }) }}

  {{ LBCamdenHeader({
    "phaseBanner": {
      "tag": { "text": "beta" },
      "html": "This is a new service – your <a class='govuk-link' href='#''>feedback</a> will help us to improve it."
    },
    "searchItems": [
      {
        "href": "#1",
        "text": "Popular search 1"
      },
      {
        "href": "#2",
        "text": "Popular search 2"
      },
      {
        "href": "#3",
        "text": "Popular search 3"
      }
    ],
    emergencyBanner: '
        <section role="banner" class="lbcamden-emergency-banner lbcamden-emergency-banner--notable-death lbcamden-emergency-banner--homepage ">
          <div class="govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds lbcamden-emergency-banner__content">
                <h2 class="">His Royal Highness Henry VIII</h2>

                  <p> 1491–1547</p>

                  <a href="https://www.gov.uk/">
                    Override Link Text
                  </a>
              </div>
            </div>
          </div>
        </section>
',
    "navigation": [
      {
        "href": "#1",
        "text": "Services",
        "description": "This is an optional description of the services",
        "subItems": [
          {
            "href": "#1-1",
            "text": "Benefits and financial support"
          },

{
            "href": "#1-1",
            "text": "Births, deaths, marriages and citizenship"
          },

{
            "href": "#1-1",
            "text": "Business"
          },

{
            "href": "#1-1",
            "text": "Children, families and young people"
          },

{
            "href": "#1-1",
            "text": "Coronavirus (COVID-19)"
          },

{
            "href": "#1-1",
            "text": "Council tax"
          },

{
            "href": "#1-1",
            "text": "Crime and safety"
          },

{
            "href": "#1-1",
            "text": "Education"
          },

{
            "href": "#1-1",
            "text": "Environmental issues"
          },

{
            "href": "#1-1",
            "text": "Housing"
          },

{
            "href": "#1-1",
            "text": "Jobs and skills"
          },

{
            "href": "#1-1",
            "text": "Libraries and local studies"
          },

{
            "href": "#1-1",
            "text": "Parking"
          },

{
            "href": "#1-1",
            "text": "Pay"
          },

{
            "href": "#1-1",
            "text": "Planning and building development"
          },

{
            "href": "#1-1",
            "text": "Recycling and rubbish"
          },

{
            "href": "#1-1",
            "text": "Roads and travel"
          },

{
            "href": "#1-1",
            "text": "Social care and health"
          },

{
            "href": "#1-1",
            "text": "Sports and leisure"
          },

{
            "href": "#1-1",
            "text": "Your council"
          }
        ]
      },
      {
        "href": "#1",
        "text": "News"
      },
      {
        "href": "#1",
        "text": "Camden Account",
        "classes": "lbcamden-header__navigation-item-link--sign-in",
        "subItems": [
          {
            "href": "#1-1",
            "text": "Resident"
          },
          {
            "href": "#1-2",
            "text": "Business"
          }

        ]
      }
    ],
    "siteNavigation": {
      "title": "Family Hubs",
      "search": false,
      "navigation": [
        {
          "text": "Visit us",
          "href": "#"
        },
        {
          "text": "Support for parents",
          "href": "#"
        },
        {
          "text": "Young people",
          "href": "#"
        },
        {
          "text": "SEND Support",
          "href": "#",
          "subItems": [
            {
              "text": "About Camden's local offer",
              "href": "#"
            },
            {
              "text": "Information for parents and carers",
              "href": "#"
            },
            {
              "text": "Types of SEND",
              "href": "#"
            },
            {
              "text": "Information and resources for SEND practitioners",
              "href": "#"
            },
            {
              "text": "SEND support services and resources",
              "href": "#"
            },
            {
              "text": "Help with learning and education",
              "href": "#"
            },
            {
              "text": "Information for young people",
              "href": "#"
            }
          ]
        }
      ]
    }
  }) }}

  {{ LBCamdenServiceBanner({
      'heading': 'Council Tax and benefit forms unavailable',
      'shortDescription': '<p>Council Tax and housing benefit application forms are unavailable this evening between 6pm and 9pm. Try again after this time.</p>'
  }) }}
    {{ LBCamdenServiceBanner({
      'heading': 'Parking Suspension is not available',
      'shortDescription': '<p>Application forms are unavailable this evening between 6pm and 9pm. Find out more here</p>'
  }) }}
{% endblock %}

{% block content %}

{{ LBCamdenHero({
  welcomeMessage: "Welcome to Camden.gov.uk",
  image: {
    src: "/example-assets/images/hero.jpg"
  },
  linkHeading: "Popular tasks",
  links: [
    {
      "label": "Get a resident permit parking",
      "href": "/full-page-examples/article"
    },
    {
      "label": "Search for a planning application",
      "href": "/full-page-examples/article"
    },
    {
      "label": "Book a housing repair",
      "href": "/full-page-examples/article"
    },
    {
      "label": "Search for a business license",
      "href": "/full-page-examples/article"
    },
    {
      "label": "Get Council Tax support",
      "href": "/full-page-examples/article"
    },
    {
      "label": "Find a job at Camden",
      "href": "/full-page-examples/article"
    }
  ]
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ LBCamdenPromoGallery({
      "heading": "Popular",
      "showAllHref": "#",
      "showAllLabel": "All services",
      "classes": "govuk-!-margin-bottom-9",
      "panel": true,
      "items": [
        {
          "title": "Housing Repairs",
          "href": "/full-page-examples/category-page"
        },
        {
          "title": "Leaseholder and Freeholders",
          "href": "/full-page-examples/category-page"
        },
        {
          "title": "Bid for a property",
          "href": "/full-page-examples/category-page"
        },
        {
          "title": "Apply for council housing",
          "href": "/full-page-examples/category-page"
        }
      ]
    }) }}
  </div>
</div>


{{ LBCamdenCardGallery({
  "heading": "Get more from Camden",
  "shortDescription": "Find relevant services, support and things to do.",
  "classes": "govuk-!-margin-bottom-9",
  "cardType": "alt-1",
  "items": [
    {
      "title": "Starting school",
      "href": "#1",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Get help and support for you and your child, apply for a new school place, find term dates and school travel."
    },
    {
      "title": "Moving into Camden",
      "href": "#2",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Check off what you need to do when you move into Camden, and what to do if you need support."
    },
    {
      "title": "Making the most of Summer",
      "href": "#3",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Find out what’s happening in Camden, host a street party, or get support over the summer holidays."
    },
    {
      "title": "Starting school",
      "href": "#4",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Get help and support for you and your child, apply for a new school place, find term dates and school travel."
    }
  ]
}) }}

{{ LBCamdenCardGallery({
  "heading": "Get more from Camden",
  "shortDescription": "Find relevant services, support and things to do.",
  "classes": "govuk-!-margin-bottom-9",
  "surround": true,
  "cardType": "alt-1",
  "items": [
    {
      "title": "Starting school",
      "href": "#1",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Get help and support for you and your child, apply for a new school place, find term dates and school travel."
    },
    {
      "title": "Moving into Camden",
      "href": "#2",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Check off what you need to do when you move into Camden, and what to do if you need support."
    },
    {
      "title": "Making the most of Summer",
      "href": "#3",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Find out what’s happening in Camden, host a street party, or get support over the summer holidays."
    },
    {
      "title": "Starting school",
      "href": "#4",
      "image": {
        "src": "/example-assets/images/1200x800.webp",
        "alt": "Image alt text"
      },
      "shortDescription": "Get help and support for you and your child, apply for a new school place, find term dates and school travel."
    }
  ]
}) }}


{{ LBCamdenEngagementBanner({
  "image": {
    "src": "/example-assets/images/1200x800.webp",
    "alt": "Image alt text"
  },
  "heading": "News",
  "shortDescription": "<p>Find out what’s going on in our community with all the latest news stories, announcements, and events.</p>",
  "classes": "govuk-!-margin-bottom-9",
  "link": "#",
  "linkText": "All news"
}) }}

{% endblock %}

{% block footer %}
  {{ LBCamdenFooter({
    "navigation": [
        {
          "href": "#1",
          "text": "Home"
        },
        {
          "href": "#2",
          "text": "Site map"
        },
        {
          "href": "#3",
          "text": "Contact Camden Council"
        }
    ],
    "navigationSecondary": [
        {
          "href": "#4",
          "text": "Subscribe to our e-newsletter",
          "attributes": {
            "data-highlighted": true
          }
        }
    ],
    "navigationUtility": [

        {
          "href": "#1",
          "text": "Accessibility statement"
        },
        {
          "href": "#2",
          "text": "Freedom of information disclaimer"
        },
        {
          "href": "#3",
          "text": "Privacy statement & cookies"
        },
        {
          "href": "#4",
          "text": "Modern slavery statement"
        }
    ],

    "navigationSocial": [
        {
          "href": "#1",
          "text": "Navigation item 1",
          "attributes": {
            "data-icon": "facebook"
          }
        },
        {
          "href": "#2",
          "text": "Navigation item 2",
          "attributes": {
            "data-icon": "youtube"
          }
        },
        {
          "href": "#3",
          "text": "Navigation item 3",
          "attributes": {
            "data-icon": "twitter"
          }
        },
        {
          "href": "#4",
          "text": "Navigation item 4",
          "attributes": {
            "data-icon": "linkedin"
          }
      }
    ]
  }) }}
{% endblock %}
