<section class="lbcamden-row lbcamden-row--related">
  <div class="govuk-width-container">
    <h2 class="govuk-heading-l">{{ params.heading }}</h2>
    <ul class="lbcamden-list--dash">
      {% for item in params.relatedContent %}
        <li><a href="{{ item.href }}">{{ item.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>
