.lbcamden-engagement-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: lbcamden-colour("white");

  @include govuk-media-query($from: "desktop") {
    flex-direction: row;
  }

  &__heading--mobile {
    @include govuk-responsive-margin(5, "bottom");

    @include govuk-media-query($from: "desktop") {
      display: none;
    }
  }

  &__heading:not(&__heading--mobile) {
    @include govuk-responsive-margin(2, "bottom");

    @include govuk-media-query($until: "desktop") {
      display: none;
    }
  }

  &__description {
    @include govuk-responsive-margin(2, "bottom");
  }

  &__image {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    flex-shrink: 0;

    @include govuk-media-query($from: "desktop") {
      width: calc(100% / 12 * 5);
    }
  }

  &__content {
    @include govuk-responsive-padding(3, "top");

    @include govuk-media-query($from: "desktop") {
      @include govuk-responsive-padding(6);
    }
  }

  a {
    display: inline-block;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
