<section role="banner" class="lbcamden-engagement-banner {{ params.classes }}">
  <h2 class="lbcamden-engagement-banner__heading lbcamden-engagement-banner__heading--mobile">{{ params.heading }}</h2>
  <img class="lbcamden-engagement-banner__image" src="{{ params.image }}" alt="{{ params.imageAlt }}" />

  <div class="lbcamden-engagement-banner__content">
    <h2 class="lbcamden-engagement-banner__heading">{{ params.heading }}</h2>
    <p class="lbcamden-engagement-banner__description">
      {{ params.shortDescription }}
    </p>

    <a href="{{ params.link }}">
      <span class="lbcamden-link--action">
        {{ params.linkText }}
      </span>
    </a>
  </div>
</section>
