---
scenario: You want to read this article about '2018’s oddest requests from Brits abroad'.
notes: Based on https://www.gov.uk/government/news/strictly-vampires-and-sausages-2018s-oddest-requests-from-brits-abroad
---
{% extends "full-page-example.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "2018’s oddest requests from Brits abroad: ‘Strictly’, vampires and sausages" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block header %}
  {{ LBCamdenHeader({

  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      },
      {
        text: "Births, deaths, marriages and citizenship",
        href: "#/"
      },
      {
        text: "Birth registrations in Camden",
        href: "#/"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1>Birth Re-registrations</h1>

      <div class="section_content"><h3>What happens if there is a mistake on a birth certificate?</h3>

        <p>If a mistake occurs, correction of an error in a register can only be made according to legal procedures as
          set out by the General Register Office (GRO).&nbsp;</p>

        <p>There is a charge for corrections, if you would like a new certificate displaying the changes, you will need
          to purchase one. See our fees list for current prices.</p>

        <p>Download: <a
            href="#">fees
            (PDF)</a></p>

        <p>&nbsp;<a href="#" class="link-external">For further information
            visit gov.uk</a></p>

        <h3>How do I apply for a correction?</h3>

        <p><a href="#" class="link-external">Download the
            relevant GRO application form</a>. Submit the completed form to us together with supporting original
          documents either in the post or in person to us and we will forward it to GRO for approval if required.&nbsp;
        </p>

        <h3>What will a correction look like on a certificate?</h3>

        <p>The original information will still be shown as it was first given, but a marginal note will be added at the
          bottom of the certificate. This will describe what the correct information should be and the date the
          correction was made. All certificates issued thereafter will show the note in the margin.</p>

        <h3>Can I change the forenames of my child?</h3>

        <p>If the registration was less than 12 months ago, you can still amend any forenames for your child on the
          birth certificate. From 1st November 2017 there will be a charge of £40 for this process and an additional
          charge (depending on how soon after the initial registration you do this) to purchase any new certificates.
          &nbsp;Please complete the request using our <a
            href="#">attached
            pack (PDF)</a></p>

        <p>If the registration was more than twelve months ago, normally the only way you can officially change a name
          is through deed poll</p>

        <h3>Can I change the surname of my child?</h3>

        <p>There are only two occasions when you may be able to update the surname of your child as recorded on the
          birth certificate:</p>

        <ul>
          <li>when completing a re-registration to add the father/parents name on a birth certificate where originally
            just the mother was recorded; and
          </li>
          <li>when completing a re-registration following marriage between the parents of the child.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
