---
scenario: You want to find information about how to assist somebody that you are worried about
notes:
---
{% extends "full-page-example.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Worried about someone?" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block header %}
  {{ LBCamdenHeader({

  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      },
      {
        text: "Services",
        href: "#/"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1>Worried about someone?</h1>

      <p class="govuk-body-lead">Information and advice if you’re concerned about a person’s well-being.</p>

      {% set items = [
        {
          title: 'Emergencies',
          description: 'How to prepare and what to do in an emergency.'
        },
        {
          title: 'Safeguarding adults and children',
          description: 'If you are worried about the well-being of a child or an adult.'
        },
        {
          title: 'Support for people experiencing domestic abuse and violence',
          description: 'If you are experiencing domestic abuse or feel at risk, it is important to remember that there is help and support available to you.'
        },
        {
          title: 'Help to access food',
          description: 'We know that some Camden residents are struggling. You may have concerns about access to food and other essential items.'
        },
        {
          title: 'Mental health and wellbeing',
          description: 'How to access mental health support in Camden.'
        },
        {
          title: 'Help with drug or alcohol problems',
          description: 'In order to access drug and alcohol treatment you must live or be homeless in Camden or be registered with a Camden GP.'
        },
        {
          title: 'At risk of being homeless',
          description: 'We can work with you to try and prevent your homelessness and resolve any housing issues you may have.'
        },
        {
          title: 'Antisocial behaviour',
          description: 'If antisocial behaviour (ASB) is causing alarm or distress to you or the community where you live you should report this to the Camden Community Safety Team.'
        },
        {
          title: 'Hate crime',
          description: 'Find out about hate crime and how to report it.'
        },
        {
          title: 'Support if you have been arrested or involved in crime',
          description: 'The Camden Youth Offending Service (YOS) offer support to young people age 10-18 who live in Camden who are at risk of offending or have been arrested or convicted of having committed a crime.'
        },
        {
          title: 'What benefits and support are available?',
          description: 'Check what benefits are available and where to apply for them.'
        },
        {
          title: 'Ways you can help out',
          description: 'We have all seen the devastating effects the pandemic has had on our communities  – but we have also seen the strength of community spirit as people have looked out for each other.'
        }
      ] %}

      {% for item in items %}
        <h2 class="govuk-!-margin-bottom-0 govuk-heading-m"><a href="#">{{ item.title }}</a></h2>
        <p>{{ item.description }}</p>
      {% endfor %}

    </div>
  </div>
{% endblock %}


{% block footer %}
  {{ LBCamdenFooter({
    navigation: [
      {
        "title": "Single column list",
        "width": "two-thirds",
        "columns": 2,
        "items": [
        {
          "href": "#1",
          "text": "Home"
        },
        {
          "href": "#2",
          "text": "Search"
        },
        {
          "href": "#3",
          "text": "Sitemap"
        },
        {
          "href": "#4",
          "text": "Contact Camden Council"
        },
        {
          "href": "#5",
          "text": "Accessibility statement"
        },
        {
          "href": "#6",
          "text": "Freedom of Information Disclaimer"
        },
        {
          "href": "#7",
          "text": "Privacy Statement & Cookies"
        },
        {
          "href": "#8",
          "text": "Modern Slavery Statement"
        }
      ]
      }
    ]
  }) }}
{% endblock %}
