---
scenario: You want to report an issue
notes:
---
{% extends "full-page-example.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Report an issue" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block header %}
  {{ LBCamdenHeader({

  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      },
      {
        text: "Services",
        href: "#/"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1>Report an issue</h1>

      <p class="govuk-body-lead">Find out how to report an issue to Camden Council.</p>

      <h2 class="govuk-heading-s">Contents</h2>

      <ul class="LBCamden-List LBCamden-List--dash">
        <li><a href="#link1">Housing</a></li>
        <li><a href="#link2">Health and safety</a></li>
        <li><a href="#link3">Environment and street issues</a></li>
        <li><a href="#link4">Other</a></li>
      </ul>

      {% set items = [
        {
          title: 'Housing',
          items: [
          {
            title: 'Housing repairs',
            href: '#',
            description: 'Report a repair online for your council home.'
          },
          {
            title: 'Unlawful occupancy',
            href: '#',
            description: 'Report an unlawful occupancy in a council home.'
          }
        ]
        },
        {
          title: 'Health & safety',
          items: [
          {
            title: 'Hate crime',
            href: '#',
            description: 'Find out about hate crime and how to report it.'
          },
          {
            title: 'Antisocial behaviour',
            href: '#',
            description: 'If antisocial behaviour (ASB) is causing alarm or distress to you or the community where you live you should report this to the Camden Community Safety Team.'
          },
          {
            title: 'Needles and drug paraphernalia',
            href: '#',
            description: 'Tell us about drug rubbish to be cleared from a Camden street.'
          },
          {
            title: 'Dangerous structure',
            href: '#',
            description: 'Call 020 7974 4444 to report a dangerous structure. If you are a council tenant or leaseholder contact your housing officer.'
          },
          {
            title: 'Report a hazard in your privately rented home',
            href: '#',
            description: 'Report a hazard under the Housing Health and Safety Rating System.'
          },
          {
            title: 'Report a work or business related health and safety problem',
            href: '#',
            description: 'Report a work or business related health and safety problem'
          }
        ]
        },
        {
          title: 'Environmental and street issues',
          items: [
          {
            title: 'Issue with noise',
            href: '#',
            description: 'Report a noise complaint and find out more about noise pollution.'
          },
          {
            title: 'Pest control',
            href: '#',
            description: 'Report a pest problem and find out about pest control pricing.'
          },
          {
            title: 'Issue with smell',
            href: '#',
            description: 'Information on how to report a odour or bad smell'
          },
          {
            title: 'Graffiti',
            href: '#',
            description: 'Tell us about illegal graffiti in Camden.'
          },
          {
            title: 'Missed bin collection',
            href: '#',
            description: 'Let us know if we missed you.'
          },
          {
            title: 'Fly-tipping and street obstructions',
            href: '#',
            description: 'Tell us about fly-tipping.'
          },
          {
            title: 'Street damage or a cleaning issue',
            href: '#',
            description: 'Tell us about a problem on a Camden street.'
          },
          {
            title: 'Abandoned vehicles',
            href: '#',
            description: 'Tell us about an abandoned vehicle.'
          },
          {
            title: 'Leaf fall',
            href: '#',
            description: 'Tell us about a leaf-fall problem.'
          }
        ]
        },
        {
          title: 'Other',
          items: [
          {
            title: 'Report a breach of planning regulations',
            href: '#',
            description: 'How to report a suspected breach of planning regulations. How to find out whether the required planning permission has already been given for a development.'
          },
          {
            title: 'Report an accessibility issue on the website',
            href: '#',
            description: 'Report an accessibility issue on the website.'
          }
        ]
        }

      ] %}

      {% for item in items %}
        <h2 id="link{{ loop.index }}">{{ item.title }}</h2>
        {% for subItem in item.items %}
          <h3 class="govuk-!-margin-bottom-0"><a href="#">{{ subItem.title }}</a></h3>
          <p>{{ subItem.description }}</p>
        {% endfor %}
      {% endfor %}

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ LBCamdenFooter({
    navigation: [
      {
        "title": "Single column list",
        "width": "two-thirds",
        "columns": 2,
        "items": [
        {
          "href": "#1",
          "text": "Home"
        },
        {
          "href": "#2",
          "text": "Search"
        },
        {
          "href": "#3",
          "text": "Sitemap"
        },
        {
          "href": "#4",
          "text": "Contact Camden Council"
        },
        {
          "href": "#5",
          "text": "Accessibility statement"
        },
        {
          "href": "#6",
          "text": "Freedom of Information Disclaimer"
        },
        {
          "href": "#7",
          "text": "Privacy Statement & Cookies"
        },
        {
          "href": "#8",
          "text": "Modern Slavery Statement"
        }
      ]
      }
    ]
  }) }}
{% endblock %}
