.lbcamden-footer {
  @extend .govuk-footer;

  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  @include govuk-font(16);
  max-width: 100vw;
  padding: 0;
  overflow-x: hidden;

  background: lbcamden-colour("grey");

  h3 {
    @extend .govuk-body-s;
    @include govuk-responsive-margin(2, "bottom");
    color: lbcamden-colour("white");
  }

  &__section:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  a {
    color: lbcamden-colour("white");
    @extend .govuk-link--no-underline;
    @include govuk-font(16);

    &:focus {
      color: lbcamden-colour("black");
    }
  }

  hr {
    margin: 0;
  }

  &__sponsor-logos {
    @include govuk-responsive-margin(7, "top");
    max-width: 100%;
  }

  &__sponsor {
    @include govuk-responsive-margin(3, top);
    display: block;

    img {
      width: auto;
      max-width: 250px;
      height: auto;
      max-height: 250px;
    }
  }

  &__list-item {
    @include govuk-responsive-margin(6, "bottom");

    a {
      &[data-highlighted="true"] {
        border-radius: 3px;
        background: lbcamden-colour("govuk-brand1-1-colour");
        @include govuk-responsive-padding(1);

        &:focus {
          border-radius: 0;
          background: $govuk-focus-colour;
        }
      }
    }
  }

  &__section {
    @include govuk-responsive-margin(9, "bottom");
  }

  &__estate {
    @include govuk-responsive-padding(6, "top");
    @include govuk-responsive-padding(6, "bottom");
    @include govuk-responsive-padding(6, "top");
    @include govuk-responsive-padding(6, "bottom");

    margin-right: -($govuk-gutter-half);
    margin-left: -($govuk-gutter-half);
    flex-shrink: 0;

    .lbcamden-footer__list-item {
      @include govuk-media-query($from: desktop) {
        display: inline-block;
      }
    }

    .lbcamden-footer__list-item a {
      @include govuk-font(16);

      @include govuk-media-query($from: desktop) {
        @include govuk-responsive-margin(7, "right");
        display: inline-block;
      }
    }
  }

  &__lower {
    display: flex;

    margin-right: -($govuk-gutter-half);
    margin-left: -($govuk-gutter-half);
    color: lbcamden-colour("white");
    @include govuk-font(16);
    flex-direction: column;
    @include govuk-responsive-margin(6, "top");
    @include govuk-responsive-margin(6, "bottom");

    @include govuk-media-query($from: tablet) {
      flex-direction: row;
      align-items: center;
    }
    @include govuk-responsive-padding(4, "bottom");
  }

  &__logo {
    display: block;
    width: govuk-spacing(9) * 2;
    margin-bottom: -3px;

    @include govuk-responsive-margin(7, "right");

    @include govuk-media-query($until: tablet) {
      @include govuk-responsive-margin(3, "bottom");
    }

    .lbcamden-logo {
      color: lbcamden-colour("white");
    }
  }

  &__link {
    @extend .govuk-footer__link;

    display: block;
    max-width: 100%;
    color: lbcamden-colour("white");

    &:visited {
      color: lbcamden-colour("white");
    }

    &:focus {
      color: lbcamden-colour("black");
      background: $govuk-focus-colour;
    }
  }

  &__navigation {
    @extend .govuk-footer__navigation;

    @include govuk-responsive-padding(7, "top");
    @include govuk-responsive-padding(5, "bottom");
  }

  &__socials {
    @include govuk-media-query($from: desktop) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__list {
    @extend .govuk-footer__list;

    &--primary {
      @include govuk-media-query($from: desktop) {
        > * {
          display: inline-block;

          &:nth-child(odd) {
            width: calc(50% + 30px);
          }
        }
      }
    }

    &--social {
      //display: inline-flex;

      &__item {
        display: inline-block;

        a {

          display: block;
          width: 34px;
          width: govuk-spacing(7);
          height: 34px;
          height: govuk-spacing(7);
          background-repeat: no-repeat;
          background-position: center;
          text-indent: -9999em;
          @include govuk-responsive-margin(3, "right");

          &:hover {
            opacity: .8;
          }

          &:focus {
            box-shadow: 0 0 0 2px $govuk-focus-colour;
          }

          @include govuk-media-query($until: tablet) {
            @include govuk-responsive-margin(2, "bottom");
          }

          &[data-icon="facebook"] {
            //@include background-svg("<svg viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'><path d='M449.446 0C483.971 0 512 28.03 512 62.554v386.892C512 483.97 483.97 512 449.446 512H342.978V319.085h66.6l12.672-82.621h-79.272v-53.617c0-22.603 11.073-44.636 46.58-44.636H425.6v-70.34s-32.71-5.582-63.982-5.582c-65.288 0-107.96 39.569-107.96 111.204v62.971h-72.573v82.621h72.573V512H62.554C28.03 512 0 483.97 0 449.446V62.554C0 28.03 28.029 0 62.554 0h386.892Z' fill='#1777f2'/></svg>");
            @include background-svg(
              "<svg viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'><g fill-rule='nonzero'><path d='M512 256C512 114.615 397.385 0 256 0S0 114.615 0 256c0 127.777 93.616 233.685 216 252.89V330h-65v-74h65v-56.4c0-64.16 38.219-99.6 96.695-99.6 28.009 0 57.305 5 57.305 5v63h-32.281C305.918 168 296 187.733 296 207.978V256h71l-11.35 74H296v178.89C418.385 489.685 512 383.777 512 256Z' fill='#1877f2'/><path d='M355.65 330 367 256h-71v-48.022c0-20.245 9.917-39.978 41.719-39.978H370v-63s-29.297-5-57.305-5C254.219 100 216 135.44 216 199.6V256h-65v74h65v178.89c13.033 2.045 26.392 3.11 40 3.11s26.966-1.065 40-3.11V330h59.65Z' fill='#fff'/></g></svg>"
            );
            background-size: contain;
          }

          &[data-icon="linkedin"] {
            @include background-svg(
              "<svg viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'><path d='M512 64c0-35.323-28.677-64-64-64H64C28.677 0 0 28.677 0 64v384c0 35.323 28.677 64 64 64h384c35.323 0 64-28.677 64-64V64Z' fill='#2867b2'/><g fill='#fff'><path d='M61.053 178.667h85.76v257.962h-85.76z'/><path d='M104.512 54.28C75.171 54.28 56 73.57 56 98.853c0 24.752 18.588 44.574 47.377 44.574h.554c29.903 0 48.516-19.822 48.516-44.574-.555-25.283-18.611-44.573-47.935-44.573ZM357.278 172.601c-45.49 0-65.866 25.017-77.276 42.589v-36.523h-85.738c1.137 24.197 0 257.961 0 257.961h85.737V292.564c0-7.711.554-15.42 2.827-20.931 6.188-15.4 20.305-31.352 43.993-31.352 31.012 0 43.436 23.664 43.436 58.327v138.02h85.741v-147.93c0-79.237-42.305-116.097-98.72-116.097Z' fill-rule='nonzero'/></g></svg>"
            );
            background-size: contain;
          }

          &[data-icon="messenger"] {
            @include background-svg(
              "<svg height='1024' width='1024' xmlns='http://www.w3.org/2000/svg'><defs><radialGradient cx='19.2474387%' cy='99.4651948%' fx='19.2474387%' fy='99.4651948%' id='a' r='108.959588%'><stop offset='0%' stop-color='#09F'/><stop offset='60.9753877%' stop-color='#A033FF'/><stop offset='93.482299%' stop-color='#FF5280'/><stop offset='100%' stop-color='#FF7061'/></radialGradient></defs><g fill='none' fill-rule='evenodd'><path fill='none' d='M0 0h1024v1024H0z'/><path d='M512 122c-225.332 0-400 165.056-400 388 0 116.6144 47.792 217.3824 125.6224 286.984 6.5336 5.848 10.4776 14.04 10.7456 22.808l2.1784 71.152c.696 22.696 24.1392 37.464 44.9072 28.296l79.3944-35.048c6.7304-2.968 14.272-3.52 21.364-1.568C432.696 892.656 471.5264 898 512 898c225.332 0 400-165.056 400-388S737.332 122 512 122Z' fill='url(#a)'/><path d='m271.8016 623.4688 117.5-186.416c18.6904-29.656 58.7144-37.04 86.7584-16.008l93.4536 70.0904c8.5744 6.432 20.372 6.3976 28.9104-.0824l126.2136-95.788c16.8464-12.784 38.836 7.376 27.5624 25.2664L634.7 606.9488c-18.692 29.6544-58.716 37.04-86.7584 16.0064l-93.456-70.092c-8.5736-6.4304-20.372-6.396-28.9096.084l-126.2144 95.788c-16.8456 12.7832-38.836-7.3768-27.56-25.2664Z' fill='#FFF'/></g></svg>"
            );
            background-size: contain;
          }

          &[data-icon="twitter"] {
            @include background-svg(
              "<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 48 48'><path fill='#212121' fill-rule='evenodd' d='M38,42H10c-2.209,0-4-1.791-4-4V10c0-2.209,1.791-4,4-4h28	c2.209,0,4,1.791,4,4v28C42,40.209,40.209,42,38,42z' clip-rule='evenodd'></path><path fill='#fff' d='M34.257,34h-6.437L13.829,14h6.437L34.257,34z M28.587,32.304h2.563L19.499,15.696h-2.563 L28.587,32.304z'></path><polygon fill='#fff' points='15.866,34 23.069,25.656 22.127,24.407 13.823,34'></polygon><polygon fill='#fff' points='24.45,21.721 25.355,23.01 33.136,14 31.136,14'></polygon></svg>"
            );
            background-size: contain;
          }

          &[data-icon="whatsapp"] {
            @include background-svg(
              "<svg viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'><path d='M116.225-.001c-11.264.512-26.112 1.536-32.768 3.072-10.24 2.048-19.968 5.12-27.648 9.216-9.728 4.608-17.92 10.752-25.088 17.92-7.68 7.68-13.824 15.872-18.432 25.6-4.096 7.68-7.168 17.408-9.216 27.648-1.536 6.656-2.56 21.504-2.56 32.768-.512 4.608-.512 10.752-.512 13.824v265.729c.512 11.264 1.536 26.112 3.072 32.768 2.048 10.24 5.12 19.968 9.216 27.648 4.608 9.728 10.752 17.92 17.92 25.088 7.68 7.68 15.872 13.824 25.6 18.432 7.68 4.096 17.408 7.168 27.648 9.216 6.656 1.536 21.504 2.56 32.768 2.56 4.608.512 10.752.512 13.824.512h265.728c11.264-.512 26.112-1.536 32.768-3.072 10.24-2.048 19.968-5.12 27.648-9.216 9.728-4.608 17.92-10.752 25.088-17.92 7.68-7.68 13.824-15.872 18.432-25.6 4.096-7.68 7.168-17.408 9.216-27.648 1.536-6.656 2.56-21.504 2.56-32.768.512-4.608.512-10.752.512-13.824V116.223c-.512-11.264-1.536-26.112-3.072-32.768-2.048-10.24-5.12-19.968-9.216-27.648-4.608-9.728-10.752-17.92-17.92-25.088-7.68-7.68-15.872-13.824-25.6-18.432-7.68-4.096-17.408-7.168-27.648-9.216-6.656-1.536-21.504-2.56-32.768-2.56-4.608-.512-10.752-.512-13.824-.512H116.225Z' fill='url(#a)' fill-rule='nonzero'/><path d='M344.754 289.698c-4.56-2.282-26.98-13.311-31.161-14.832-4.18-1.521-7.219-2.282-10.259 2.282-3.041 4.564-11.78 14.832-14.44 17.875-2.66 3.042-5.32 3.423-9.88 1.14-4.561-2.281-19.254-7.095-36.672-22.627-13.556-12.087-22.709-27.017-25.369-31.581s-.283-7.031 2-9.304c2.051-2.041 4.56-5.324 6.84-7.986 2.28-2.662 3.04-4.564 4.56-7.606 1.52-3.042.76-5.705-.38-7.987-1.14-2.282-10.26-24.72-14.06-33.848-3.701-8.889-7.461-7.686-10.26-7.826-2.657-.132-5.7-.16-8.74-.16-3.041 0-7.98 1.141-12.161 5.704-4.18 4.564-15.96 15.594-15.96 38.032 0 22.438 16.34 44.116 18.62 47.159 2.281 3.043 32.157 49.089 77.902 68.836 10.88 4.697 19.374 7.501 25.997 9.603 10.924 3.469 20.866 2.98 28.723 1.806 8.761-1.309 26.98-11.029 30.781-21.677 3.799-10.649 3.799-19.777 2.659-21.678-1.139-1.902-4.179-3.043-8.74-5.325m-83.207 113.573h-.061c-27.22-.011-53.917-7.32-77.207-21.137l-5.539-3.287-57.413 15.056 15.325-55.959-3.608-5.736c-15.184-24.145-23.203-52.051-23.192-80.704.033-83.611 68.083-151.635 151.756-151.635 40.517.016 78.603 15.811 107.243 44.474 28.64 28.663 44.404 66.764 44.389 107.283-.035 83.617-68.083 151.645-151.693 151.645m129.102-280.709c-34.457-34.486-80.281-53.487-129.103-53.507-100.595 0-182.468 81.841-182.508 182.437-.013 32.156 8.39 63.546 24.361 91.212l-25.892 94.545 96.75-25.37c26.657 14.535 56.67 22.194 87.216 22.207h.075c100.586 0 182.465-81.852 182.506-182.448.019-48.751-18.946-94.59-53.405-129.076' fill='#fff'/><defs><linearGradient gradientTransform='matrix(0 -512 -512 0 256.001 512)' gradientUnits='userSpaceOnUse' id='a' x1='0' x2='1' y1='0' y2='0'><stop offset='0' stop-color='#25cf43'/><stop offset='1' stop-color='#61fd7d'/></linearGradient></defs></svg>"
            );
            background-size: contain;
          }

          &[data-icon="youtube"] {
            @include background-svg(
              "<svg viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'><g fill-rule='nonzero'><path d='M501.299 132.766c-5.888-22.03-23.234-39.377-45.264-45.264-39.932-10.701-200.037-10.701-200.037-10.701s-160.105 0-200.038 10.701c-22.025 5.887-39.376 23.234-45.264 45.264C0 172.694 0 256.002 0 256.002s0 83.308 10.696 123.232c5.888 22.03 23.239 39.381 45.264 45.268 39.933 10.697 200.038 10.697 200.038 10.697s160.105 0 200.037-10.697c22.03-5.887 39.376-23.238 45.264-45.268C512 339.31 512 256.002 512 256.002s0-83.308-10.701-123.236Z' fill='#ed1f24'/><path d='m204.796 332.803 133.018-76.801-133.018-76.801v153.602Z' fill='#fff'/></g></svg>"
            );
            background-size: contain;
          }

          &[data-icon="instagram"] {
            @include background-svg(
              "<svg fill='none' viewBox='0 0 131 131'><path fill='url(#a)' d='M65.537.497c-27.142 0-35.08.028-36.623.156-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468-4.125 4.282-6.625 9.55-7.53 15.812-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28a27.22 27.22 0 0 0 17.75-14.53c1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624-4.3-4.108-9.56-6.608-15.829-7.512-3.037-.439-3.642-.569-19.182-.596h-21.16Z'/><path fill='url(#b)' d='M65.537.497c-27.142 0-35.08.028-36.623.156-5.57.463-9.036 1.34-12.812 3.22-2.91 1.445-5.205 3.12-7.47 5.468-4.125 4.282-6.625 9.55-7.53 15.812-.44 3.04-.568 3.66-.594 19.188-.01 5.176 0 11.988 0 21.125 0 27.12.03 35.05.16 36.59.45 5.42 1.3 8.83 3.1 12.56 3.44 7.14 10.01 12.5 17.75 14.5 2.68.69 5.64 1.07 9.44 1.25 1.61.07 18.02.12 34.44.12 16.42 0 32.84-.02 34.41-.1 4.4-.207 6.955-.55 9.78-1.28a27.22 27.22 0 0 0 17.75-14.53c1.765-3.64 2.66-7.18 3.065-12.317.088-1.12.125-18.977.125-36.81 0-17.836-.04-35.66-.128-36.78-.41-5.22-1.305-8.73-3.127-12.44-1.495-3.037-3.155-5.305-5.565-7.624-4.3-4.108-9.56-6.608-15.829-7.512-3.037-.439-3.642-.569-19.182-.596h-21.16Z'/><path fill='#fff' d='M65.507 17.497c-13.036 0-14.672.057-19.792.29-5.11.234-8.598 1.043-11.65 2.23-3.157 1.226-5.835 2.866-8.503 5.535-2.67 2.668-4.31 5.346-5.54 8.502-1.19 3.053-2 6.542-2.23 11.65-.228 5.12-.288 6.757-.288 19.793s.058 14.667.29 19.787c.235 5.11 1.044 8.598 2.23 11.65 1.227 3.157 2.867 5.835 5.536 8.503 2.667 2.67 5.345 4.314 8.5 5.54 3.054 1.187 6.543 1.996 11.652 2.23 5.12.233 6.755.29 19.79.29 13.037 0 14.668-.057 19.788-.29 5.11-.234 8.602-1.043 11.656-2.23 3.156-1.226 5.83-2.87 8.497-5.54 2.67-2.668 4.31-5.346 5.54-8.502 1.18-3.053 1.99-6.542 2.23-11.65.23-5.12.29-6.752.29-19.788 0-13.036-.06-14.672-.29-19.792-.24-5.11-1.05-8.598-2.23-11.65-1.23-3.157-2.87-5.835-5.54-8.503-2.67-2.67-5.34-4.31-8.5-5.535-3.06-1.187-6.55-1.996-11.66-2.23-5.12-.233-6.75-.29-19.79-.29h.014Zm-4.306 8.65c1.278-.002 2.704 0 4.306 0 12.816 0 14.335.046 19.396.276 4.68.214 7.22.996 8.912 1.653 2.24.87 3.837 1.91 5.516 3.59 1.68 1.68 2.72 3.28 3.592 5.52.657 1.69 1.44 4.23 1.653 8.91.23 5.06.28 6.58.28 19.39s-.05 14.33-.28 19.39c-.214 4.68-.996 7.22-1.653 8.91-.87 2.24-1.912 3.835-3.592 5.514-1.68 1.68-3.275 2.72-5.516 3.59-1.69.66-4.232 1.44-8.912 1.654-5.06.23-6.58.28-19.396.28-12.817 0-14.336-.05-19.396-.28-4.68-.216-7.22-.998-8.913-1.655-2.24-.87-3.84-1.91-5.52-3.59-1.68-1.68-2.72-3.276-3.592-5.517-.657-1.69-1.44-4.23-1.653-8.91-.23-5.06-.276-6.58-.276-19.398s.046-14.33.276-19.39c.214-4.68.996-7.22 1.653-8.912.87-2.24 1.912-3.84 3.592-5.52 1.68-1.68 3.28-2.72 5.52-3.592 1.692-.66 4.233-1.44 8.913-1.655 4.428-.2 6.144-.26 15.09-.27v.012Zm29.928 7.97a5.76 5.76 0 1 0 5.76 5.758c0-3.18-2.58-5.76-5.76-5.76v.002Zm-25.622 6.73c-13.613 0-24.65 11.037-24.65 24.65 0 13.613 11.037 24.645 24.65 24.645 13.613 0 24.647-11.032 24.647-24.645s-11.035-24.65-24.648-24.65h.001Zm0 8.65c8.836 0 16 7.163 16 16 0 8.836-7.164 16-16 16-8.837 0-16-7.164-16-16 0-8.837 7.163-16 16-16Z'/><defs><radialGradient id='a' cx='0' cy='0' r='1' gradientTransform='scale(119.853 128.829) rotate(-90 .691 .4)' gradientUnits='userSpaceOnUse'><stop stop-color='#FD5'/><stop offset='.1' stop-color='#FD5'/><stop offset='.5' stop-color='#FF543E'/><stop offset='1' stop-color='#C837AB'/></radialGradient><radialGradient id='b' cx='0' cy='0' r='1' gradientTransform='matrix(11.30575 56.4669 -232.8173 46.61446 -21.277 9.861)' gradientUnits='userSpaceOnUse'><stop stop-color='#3771C8'/><stop offset='.128' stop-color='#3771C8'/><stop offset='1' stop-color='#60F' stop-opacity='0'/></radialGradient></defs></svg>"
            );
            background-size: contain;
          }
        }
      }
    }
  }

  .lbcamden-footer__logo {
    &:hover {
      box-shadow: 0 3px lbcamden-colour("white");
    }
  }

  .lbcamden-footer__navigation {
    & + .lbcamden-footer__lower {
      @include govuk-responsive-margin(0, "top");
    }
  }
}
