{% from "../logo/macro.njk" import LBCamdenLogo %}

<footer class="LBCamden-Footer {{ params.classes if params.classes }}" role="contentinfo"
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
<div class="{{ params.containerClasses | default('govuk-width-container') }}">
  {% if params.navigation | length or params.navigationSecondary | length %}
  <div class="govuk-footer__navigation">
    {% endif %}
    {% if params.navigation | length %}
      {% for nav in params.navigation %}
        <div class="govuk-footer__section govuk-grid-column-{{ nav.width | default('one-half') }}">
          <h2 class="govuk-visually-hidden">{{ nav.title }}</h2>
          {% if nav.items | length %}
            {% set listClasses %}
              {% if nav.columns %}
                govuk-footer__list--columns-{{ nav.columns }}
              {% endif %}
            {% endset %}
            <ul class="govuk-footer__list {{ listClasses | trim }}">
              {% for item in nav.items %}
                {% if item.href and item.text %}
                  <li class="govuk-footer__list-item">
                    <a class=""
                       href="{{ item.href }}"{% for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}
                    >
                    {{ item.text }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
    {% if params.navigationSecondary | length %}
      {% for nav in params.navigationSecondary %}
        <div class="govuk-footer__section govuk-grid-column-{{ nav.width | default('one-half') }}">
          <h2 class="govuk-visually-hidden">{{ nav.title }}</h2>
          {% if nav.items | length %}
            {% set listClasses %}
              {% if nav.columns %}
                govuk-footer__list--columns-{{ nav.columns }}
              {% endif %}
            {% endset %}
            <ul class="govuk-footer__list {{ listClasses | trim }}">
              {% for item in nav.items %}
                {% if item.href and item.text %}
                  <li class="govuk-footer__list-item">
                    <a class=""
                       href="{{ item.href }}"{% for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}
                    >
                    {{ item.text }}!
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
    {% if params.navigation | length or params.navigationSecondary | length %}
  </div>
  {% endif %}
  {% if params.navigationSocial | length %}
    <div class="govuk-footer__navigation">
      {% for nav in params.navigationSocial %}
        <div class="govuk-footer__section govuk-grid-column-{{ nav.width | default('full') }}">
          <h2 class="govuk-visually-hidden">{{ nav.title }}</h2>
          {% if nav.items | length %}
            {% set listClasses %}
              {% if nav.columns %}
                govuk-footer__list--columns-{{ nav.columns }}
              {% endif %}
            {% endset %}
            <ul class="govuk-footer__list LBCamden-Footer__list--social {{ listClasses | trim }}">
              {% for item in nav.items %}
                {% if item.href and item.text %}
                  <li class="LBCamden-Footer__list--social__item">
                    <a class=""
                       href="{{ item.href }}"{% for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}
                    >
                    {{ item.text }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="LBCamden-Footer__lower">
      <div class="LBCamden-Footer__logo">
        <a href="{{ params.homepageUrl | default('/') }}" class="LBCamden-Footer__link">
          {{ LBCamdenLogo({
          }) }}
          <span class="govuk-visually-hidden">Camden.gov.uk</span>
        </a>
      </div>
      Copyright &copy 2022 The London Borough of Camden
  </div>
  </footer>
