$theme-brand-colour: var(
  --lbcamden-theme-brand-colour,
  lbcamden-colour("bright-grey")
);

.lbcamden-campaign-engagement-banner {
  // Spacing between speech text content and image. Also defines the triangle size.
  --gap: #{govuk-spacing(6)};

  // Additional space on mobile to show speech bubble effect with image hidden
  --overfill: 50px;

  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 485px;
  min-height: 260px;
  overflow: hidden;
  background-color: $theme-brand-colour;

  img {
    display: none;
    width: calc(var(--picture-width) - .5 * var(--gap));
    max-width: calc(var(--picture-width) - .5 * var(--gap));
    height: 100%;
    max-height: 100%;
    outline: var(--gap) solid #ffffff;
    object-fit: cover;
    flex-shrink: 0;
  }

  @include govuk-media-query("mobile-large") {
    --picture-width: 4 / 12 * 100%;
    --overfill: 0;

    max-width: unset;
    height: 270px;
    min-height: unset;

    img {
      display: block;
    }
  }

  @include govuk-media-query("tablet") {
    --picture-width: 3 / 12 * 100%;
    height: 300px;
  }

  @include govuk-media-query("desktop") {
    --picture-width: 5 / 12 * 100%;
    height: 352px;
  }

  @include govuk-media-query("wide") {
    --picture-width: 50%;
    height: 379px;
  }

  // text-right orientation
  &--text-right {
    margin-left: auto;
    border-bottom-right-radius: 50px;

    img {
      border-bottom-right-radius: 50px;
    }
  }

  // text-left orientation
  &--text-left {
    margin-right: auto;
    border-bottom-left-radius: 50px;

    img {
      border-bottom-left-radius: 50px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: govuk-spacing(6);
    position: relative;
    flex-grow: 1;

    @include govuk-media-query("mobile-large") {
      padding-block: govuk-spacing(4);
    }

    a {
      color: lbcamden-colour("black");
      text-underline-offset: .5rem;

      &:not(:hover) {
        text-decoration-thickness: 2px;
      }

      &:hover {
        text-decoration-thickness: 4px;
      }

      &:focus {
        background-color: #ffffff;
        box-shadow: 0 4px lbcamden-colour("black");
      }
    }

    // "speech bubble" effect triangle shown on mobile viewports
    &:after {
      content: "";
      position: absolute;
      top: -0;
      width: 50px;
      height: 100%;
      outline: 20px solid #ffffff;

      @include govuk-media-query("mobile-large") {
        display: none;
      }
    }

    // text-right orientation
    .lbcamden-campaign-engagement-banner--text-right & {
      padding-right: govuk-spacing(7);
      padding-left: calc(#{govuk-spacing(6)} + var(--gap));
      border-bottom-right-radius: 50px;
      background-position: top left;

      &:after {
        left: calc(0px - var(--overfill));
        border-bottom-right-radius: 50px;
      }
    }

    // text-left orientation
    .lbcamden-campaign-engagement-banner--text-left & {
      padding-right: calc(#{govuk-spacing(6)} + var(--gap));
      padding-left: govuk-spacing(7);
      border-bottom-left-radius: 50px;
      background-position: top right;

      &:after {
        right: calc(0px - var(--overfill));
        border-bottom-left-radius: 50px;
      }
    }

    &,
    & > p {
      @include govuk-typography-responsive("18-campaign");
    }
  }

  h2 {
    margin-bottom: govuk-spacing(4);
    @include govuk-typography-responsive("36-campaign");
    font-weight: 300;
  }
}
