{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% extends "layout.njk" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      "href": "/"
    }) }}
  </div>
{% endblock %}

{% block content %}

  {% set variants = {
    'Default': '',
    'Inverted': '--inverted',
    'Grey': '--grey',
    'Grey (inverted)': '--grey--inverted',
    'Red': '--red',
    'Red (inverted)': '--red--inverted',
    'Green': '--green',
    'Green (inverted)': '--green--inverted',
    'Orange': '--orange',
    'Orange (inverted)': '--orange--inverted',
    'Purple': '--purple',
    'Purple (inverted)': '--purple--inverted'
  } %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Tags
      </h1>

      {% for variant_description, variant_class in variants %}
      <p>
        {{ govukTag({
          text: variant_description,
          classes: 'govuk-tag' + variant_class
        }) }}
        {% endfor %}
      </p>
    </div>
  </div>
{% endblock %}
