{% from "../card/macro.njk" import LBCamdenCard %}

<div class="lbcamden-link-list-gallery {% if params.surround %}lbcamden-link-list-gallery--surround {% endif %} {{params.classes}}">
  {% if params.heading %}
    <h2>{{ params.heading }}</h2>
  {% endif %}

  {% if params.shortDescription %}
    <p class="lbcamden-link-list-gallery__description">
      {{ params.shortDescription }}
    </p>
  {% endif %}

  <ul class="lbcamden-card-grid">
    {% for item in params.items %}
      {% set cardHtml %}
        {% if item.links %}
          <ul class="lbcamden-list--dash">
            {% for link in item.links %}
              <li><a href="{{link.href}}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          {% if item.viewAllHref %}
            <a href="{{ item.viewAllHref }}" class="lbcamden-link--action">View all</a>
          {% endif %}
        {% endif %}
      {% endset %}
      {{ LBCamdenCard({
        element: 'li',
        heading: {
          title: item.title,
          "headingLevel": 3
        },
        content: {
          html: cardHtml
        }
      }) }}
    {% endfor %}
  </ul>
</div>
