.lbcamden-emergency-banner {
  @include govuk-font(19);
  @include govuk-responsive-padding(4, "top", $adjustment: -3px);
  @include govuk-responsive-padding(4, "bottom");

  margin-top: 2px;
  border-top: 3px solid govuk-colour("white");
  color: govuk-colour("white");
  background-color: govuk-colour("mid-grey");

  &__content {
    > h2 {
      @include govuk-font(24, $weight: "bold");
      margin: 0;
      color: govuk-colour("white");
    }

    > p {
      @include govuk-font(16);
      color: govuk-colour("white");

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: govuk-spacing(4);
      }
    }

    > a:last-child {
      @include govuk-font(16);
      color: govuk-colour("white");

      &:link,
      &:visited {
        color: govuk-colour("white");
      }

      &:focus {
        @include govuk-focused-text;
      }
    }
  }

  &--notable-death {
    background-color: govuk-colour("black");
  }

  &--national-emergency-banner {
    // Not using govuk-colour("red") aka #d4351c as that's a slightly different red.
    background-color: #b10e1e;
  }

  &--local-emergency-banner {
    // Not using govuk-colour("turquoise") for background colour as
    // the contrast was too low with white text
    background-color: #00847d;
  }

  @include govuk-media-query($media-type: "print") {
    display: none;
  }

  &--homepage {
    position: relative;
    z-index: 10;
    margin-top: 0;

    .lbcamden-emergency-banner__content {
      > h2 {
        @include govuk-font(36, $weight: "bold");

        @include govuk-media-query($from: "tablet") {
          margin-bottom: govuk-spacing(4);
        }
      }

      > p:first-of-type {
        margin-top: govuk-spacing(4);
      }

      > p:last-of-type {
        margin-bottom: govuk-spacing(4);
      }
    }
  }
}
