$lbcamden-hero-branded-max-width: 1440px;
$lbcamden-branded-hero-height: 442px;

.lbcamden-branded-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: $lbcamden-hero-branded-max-width;
  max-height: $lbcamden-branded-hero-height;
  overflow: hidden;

  @include govuk-media-query($from: "tablet") {
    flex-direction: row;
  }

  @include govuk-media-query($until: "tablet") {
    height: 100%;
  }

  .lbcamden-image {
    width: 100%;
    aspect-ratio: .99;

    @include govuk-media-query($from: "tablet") {
      width: 50%;
    }

    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: govuk-spacing(2) govuk-spacing(4);
    color: inherit;

    @include govuk-media-query($until: "tablet") {
      width: 100%;
    }

    h2 {
      @extend %govuk-heading-m;
      color: inherit;
    }

    p {
      color: inherit;
    }

    @include govuk-media-query($from: "mobile-large") {
      justify-content: flex-end;
    }
  }

  &__logo {
    width: 40%;
    max-width: 50%;
    padding-top: govuk-spacing(2);
  }
}
