$lbcamden-hero-branded-height: 442px;
$lbcamden-hero-branded-max-width: 1440px;

.lbcamden-branded-hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-height: $lbcamden-hero-branded-height;

  @include govuk-media-query($from: "tablet") {
    margin-bottom: govuk-spacing(6);
    flex-direction: row;
  }

  .lbcamden-image {

    @include govuk-media-query($from: "tablet") {
      width: 50vw;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 0 govuk-spacing(1);
    color: inherit;

    h1 {
      @extend %govuk-heading-m;
      @include govuk-responsive-margin(1, "bottom");
      color: inherit;
      font-weight: 300;
    }

    h2 {
      @extend %govuk-heading-l;
      @include govuk-responsive-margin(4, "bottom");
    }

    @include govuk-media-query($from: "mobile-large") {
      justify-content: flex-end;
    }

    @include govuk-media-query($from: "tablet") {
      margin: 0 govuk-spacing(-3);
    }

    @include govuk-media-query($from: "wide") {
      margin: 0 govuk-spacing(-4);
    }
  }

  &__logo {
    max-height: 50px;
  }
}
