{%- if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif %}

<form 
  class="lbcamden-search {{ classNames }} {% if params.alt %} lbcamden-search--alt{% endif %}"
  action="{{ params.action | default('/search') }}"
  method="{{ params.method | default('get')}}"
  autocomplete="off"
  role="search">
  <label
    class="govuk-label govuk-label--l govuk-visually-hidden"
    for="lbcamden-search__box">
      {{ params.labelText | default('Search Camden.gov.uk') }}
  </label>
  <input 
    type="text" 
    name="{{ params.name | default('search') }}"
    class="lbcamden-search__input"
    value="{{ params.value }}"
    id="lbcamden-search__box" {% if params.placeholderText %}placeholder="{{ params.placeholderText }}"{% endif %} />
    {% if params.additionalParameters %}
      {% for name, value in params.additionalParameters %}
        <input type="hidden" name="{{ name }}" value="{{ value }}">
      {% endfor %}
    {% endif %}
  <button 
    type="submit"
    class="lbcamden-search__btn"
    id="lbcamden-search__btn">
      {{ params.labelText | default('Search Camden.gov.uk') }}
  </button>
</form>
