.lbcamden-guide-header {
  @include govuk-media-query($from: tablet) {
    @include govuk-responsive-padding(3);
  }

  &.lbcamden-list--dash li {
    @include govuk-media-query($from: tablet) {
      @include govuk-responsive-margin(5, "left");
    }

    @include govuk-responsive-padding(1, "left");
    @include govuk-responsive-padding(6, "right");
  }

  display: -ms-flexbox;

  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;

  li {
    @include govuk-responsive-margin(3, "bottom");

    box-sizing: border-box;
    width: 100%;

    .govuk-link {
      &.\:active {
        text-decoration: none;
        cursor: default;
        pointer-events: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include govuk-media-query($from: tablet) {
      width: calc((100% - #{govuk-spacing(6)} * 2) / 2);

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    @include govuk-media-query($from: desktop) {
      width: calc((100% - #{govuk-spacing(6)} * 3) / 3);

      &:nth-last-child(3) {
        margin-bottom: 0;
      }
    }
  }
}
