$theme-brand-colour: var(
  --lbcamden-theme-brand-colour,
  lbcamden-colour("bright-grey")
);

.lbcamden-campaign-hero {
  --lbcamden-theme-brand-colour: var(bright-grey);
  // Spacing between speech text content
  --gap: 0;

  // Additional space on mobile to show speech bubble effect with image hidden
  --overfill: 20px;

  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 485px;
  margin-top: govuk-spacing(2);
  margin-right: auto;
  margin-bottom: -#{govuk-spacing(2)};
  overflow: hidden;
  border-bottom-left-radius: 50px;
  background-color: $theme-brand-colour;

  img {
    display: none;
    width: calc(var(--picture-width) - .5 * var(--gap));
    max-width: calc(var(--picture-width) - .5 * var(--gap));
    height: 100%;
    max-height: 100%;
    border-bottom-left-radius: 50px;
    outline: var(--gap) solid #ffffff;
    object-fit: cover;
    flex-shrink: 0;
  }

  @include govuk-media-query($from: tablet) {
    margin-top: 20px;
  }

  @include govuk-media-query("mobile-large") {
    --picture-width: 4 / 12 * 100%;
    --gap: #{govuk-spacing(6)};
    --overfill: 0px; // stylelint-disable-line length-zero-no-unit

    max-width: unset;
    height: 270px;

    img {
      display: block;
    }
  }

  @include govuk-media-query("tablet") {
    --picture-width: 3 / 12 * 100%;
    height: 300px;
  }

  @include govuk-media-query("desktop") {
    --picture-width: 5 / 12 * 100%;
    height: 445px;
  }

  @include govuk-media-query("wide") {
    --picture-width: 7 / 12 * 100%;
    height: 445px;
  }

  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: govuk-spacing(6);
    position: relative;

    a {
      color: lbcamden-colour("black");
      text-underline-offset: .5rem;

      &:not(:hover) {
        text-decoration-thickness: 2px;
      }
    }

    // "speech bubble" effect triangle shown on mobile viewports
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -50px;
      width: 50px;
      height: 100%;
      border-bottom-left-radius: 50px;
      outline: 20px solid #ffffff;

      @include govuk-media-query("mobile-large") {
        display: none;
      }
    }

    padding-right: calc(#{govuk-spacing(4)} + var(--gap) + var(--overfill, 0px));
    padding-left: govuk-spacing(7);

    border-bottom-left-radius: 50px;

    &,
    & > p {
      @include govuk-typography-responsive("18-campaign");
    }
  }

  h1 {
    margin-bottom: govuk-spacing(3);
    @include govuk-typography-responsive("48-campaign");
    font-weight: 300;
  }
}
