{% from "../image/macro.njk" import LBCamdenImage %}
<div class="lbcamden-campaign-hero">
    <div class="lbcamden-campaign-hero__content">
        <h1>{{ params.title }}</h1>
        {{ params.extract }}
    </div>
    {{ LBCamdenImage(params.image) }}
</div>