.lbcamden-state-of-the-borough-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: lbcamden-colour("govuk-bg-bright1-colour");

  @include govuk-media-query($from: "desktop") {
    flex-direction: row;
  }

  @include govuk-media-query($until: "desktop") {
    margin: 0 #{-$govuk-gutter-half};
    padding: $govuk-gutter-half $govuk-gutter-half 0 $govuk-gutter-half;
    // padding-bottom: govuk-spacing(7);
  }

  &__heading--mobile {
    @include govuk-responsive-margin(5, "bottom");

    @include govuk-media-query($from: "desktop") {
      display: none !important;
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    flex-shrink: 0;

    @include govuk-media-query($from: "desktop") {
      width: calc(100% / 12 * 5);
    }
  }

   &__imagequote {
    // width: 100%;
    aspect-ratio: 1 / 1;
    // object-fit: cover;
    // flex-shrink: 0;

    @include govuk-media-query($from: "desktop") {
      width: calc(100% / 12 * 5);
    }
  } 

  &__quote-header {
    font-weight: bold;
    @include govuk-font(24);
  }

  &__quote-content {
    font-weight: normal;
    @include govuk-font(24);
  }

  &__content {
    @include govuk-responsive-padding(3, "top");

    @include govuk-media-query($from: "desktop") {
      @include govuk-responsive-padding(6);
    }

    > h2 {
      @include govuk-responsive-margin(2, "bottom");

      @include govuk-media-query($until: "desktop") {
        display: none;
      }
    }

    > p:last-of-type {
      @include govuk-responsive-margin(2, "bottom");
    }

    > a:last-child {
      @extend .lbcamden-link--action;
    }
  }

  a {
    display: inline-block;

    &:not(:hover) {
      text-decoration: none;
    }
  }
}
