---
scenario: You want to change your name by deed poll
notes:
---
{% extends "full-page-example.njk" %}
{% set mainClasses = 'govuk-width-container' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Contact Building Control" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      },
      {
        text: "Contacts",
        href: "#/"
      },
      {
        text: "Planning contacts",
        href: "#/"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1>Contact Building Control</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop lbcamden-prose">
      <article>
        <h2>Building Control (Camden Council)</h2>

        <dl>
          <dt>Email</dt>
          <dd><a href="mailto:building.control@camden.gov.uk" title="building.control@camden.gov.uk">building.control@camden.gov.uk</a></dd>
                
          <dt>Website</dt>
          <dd><a href="http://www.camden.gov.uk/building-control" rel="external" target="_blank"> www.camden.gov.uk/building-control</a></dd>
                
          <dt>Address</dt>
          <dd>2nd Floor 5<br>Pancras Square<br>London<br>N1C 4AG</dd>
                
          <dt>Details</dt>
          <dd>Ensures that all building work, both public and private sector, meets the requirements of the Building Regulations. These include structural and fire safety, thermal and sound insulation, drainage, and access and facilities for disabled people. Also deals with reports of dangerous structures. This is during opening hours for private properties only, and all other properties in Camden at any time. Out of hours reports are passed by the switchboard to a duty rota of building control managers.</dd>
            
          <dt>When is it on</dt>
          <dd>9am-5pm.</dd>
        </dl>
      </article>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
      <aside class="lbcamden-card lbcamden-card--alt-1">
        <h2>Related content</h2>
        <div class="lbcamden-card__content">
          <ul class="lbcamden-list lbcamden-list--dash">
            <li><a href="#">Planning and building development</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ LBCamdenFooter({
    "navigation": [
        {
          "href": "#1",
          "text": "Home"
        },
        {
          "href": "#2",
          "text": "Site map"
        },
        {
          "href": "#3",
          "text": "Contact Camden Council"
        }
    ],
    "navigationSecondary": [
        {
          "href": "#4",
          "text": "Subscribe to our e-newsletter",
          "attributes": {
            "data-highlighted": true
          }
        }
    ],
    "navigationUtility": [

        {
          "href": "#1",
          "text": "Accessibility statement"
        },
        {
          "href": "#2",
          "text": "Freedom of information disclaimer"
        },
        {
          "href": "#3",
          "text": "Privacy statement & cookies"
        },
        {
          "href": "#4",
          "text": "Modern slavery statement"
        }
    ],

    "navigationSocial": [
        {
          "href": "#1",
          "text": "Navigation item 1",
          "attributes": {
            "data-icon": "facebook"
          }
        },
        {
          "href": "#2",
          "text": "Navigation item 2",
          "attributes": {
            "data-icon": "youtube"
          }
        },
        {
          "href": "#3",
          "text": "Navigation item 3",
          "attributes": {
            "data-icon": "twitter"
          }
        },
        {
          "href": "#4",
          "text": "Navigation item 4",
          "attributes": {
            "data-icon": "linkedin"
          }
      }
    ]
  }) }}
{% endblock %}
