<section role="banner" class="lbcamden-emergency-banner lbcamden-emergency-banner--{{ params.campaignClass }} {% if params.homepage %}lbcamden-emergency-banner--homepage{% endif %} {{ params.classes }}">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="lbcamden-emergency-banner__heading {{ params.headingClasses }}">{{ params.heading }}</h2>

        {% if params.shortDescription %}
        <p class="lbcamden-emergency-banner__description {{ params.descriptionClasses }}">
          {{ params.shortDescription | safe }}
        </p>
        {% endif %}

        {% if params.link %}
        <a href="{{ params.link }}" class="lbcamden-emergency-banner__link">
          {{ params.linkText }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
