<div class="lbcamden-emergency-banner lbcamden-emergency-banner--{{ params.campaignClass }} {% if params.homepage %}lbcamden-emergency-banner--homepage{% endif %} {{ params.classes }}">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds lbcamden-emergency-banner__content">
        <h2 class="{{ params.headingClasses }}">{{ params.heading }}</h2>

        {% if params.shortDescription %}
          {{ params.shortDescription | safe }}
        {% endif %}

        {% if params.link %}
          <a href="{{ params.link }}">
            {{ params.linkText }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
