.govuk-details {
  .govuk-details__summary {
    &:before {
      @include lbcamden-chevron(lbcamden-colour("blue"), 0, 3, 3);
      clip-path: none;
    }

    &:focus {
      &:before {
        @include lbcamden-chevron(lbcamden-colour("black"), 0, 3, 3);
        clip-path: none;
      }
    }
  }

  &[open] {
    .govuk-details__summary {
      &:before {
        @include lbcamden-chevron(lbcamden-colour("blue"), 90, 3, 3);
        clip-path: none;
      }

      &:focus {
        &:before {
          @include lbcamden-chevron(lbcamden-colour("black"), 90, 3, 3);
          clip-path: none;
        }
      }
    }
  }

  &__text {
    border-color: lbcamden-colour("light-grey");
  }
}
