.LBCamden-Link {
  &--action {
    position: relative;
    font-weight: $govuk-font-weight-bold;
    text-decoration: none;
    @include govuk-responsive-padding(3, "right");

    &:before {
      $dimension: 6px;
      $width: 2px;
      content: "";
      position: absolute;
      right: govuk-spacing(1);
      bottom: $dimension;
      width: $dimension;
      height: $dimension;
      transform: rotate(45deg);
      border-top: $width solid currentcolor;
      border-right: $width solid currentcolor;
    }

    &:hover {
      text-decoration: underline;
      @include govuk-link-hover-decoration;
    }

    &:focus {
      color: lbcamden-colour("black");
      box-shadow: none;

      &:after {
        border-color: lbcamden-colour("black");
      }
    }
  }

  &--promo {
    //@extend .LBCamden-Button;
    @include govuk-font(19);
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    border-radius: 3px;
    border-bottom-right-radius: 1rem;
    color: lbcamden-colour("white");
    background: lbcamden-colour("govuk-brand1-1-colour");
    font-weight: $govuk-font-weight-bold;
    text-align: left;
    text-decoration: none;
    @include govuk-responsive-padding(4, "all");
    @include govuk-responsive-padding(8, "right");

    &:visited,
    &:link {
      color: lbcamden-colour("white");
    }

    &:hover {
      text-decoration: underline;
      @include govuk-link-hover-decoration;
    }

    &:after {
      @include lbcamden-chevron(lbcamden-colour("blue"), 0);
      content: "";
      position: absolute;
      top: 50%;
      right: govuk-spacing(4);
      //width: 7px;
      //height: 7px;
      //transform: rotate(45deg) translateY(-50%);
      //border-top: 3px solid lbcamden-colour("white");
      //border-right: 3px solid lbcamden-colour("white");
    }

    &-alt {
      color: $govuk-link-colour;
      background: lbcamden-colour("govuk-bg-bright1-colour");
      box-shadow: 1px 1px 1px rgba(lbcamden-colour("black"), .25);
      font-weight: $govuk-font-weight-semibold;

      &:link {
        color: $govuk-link-colour;
      }

      &:visited {
        color: $govuk-link-colour;
      }

      &:hover {
        color: $govuk-link-hover-colour;
      }

      &:after {
        border-width: 2px;
        border-color: $govuk-link-colour;
      }
    }

    &--large {
      @include govuk-responsive-padding(6, "top");
      @include govuk-responsive-padding(6, "bottom");
      font-weight: bold;
    }

    &:focus {
      color: lbcamden-colour("black");
      box-shadow: none;

      &:after {
        border-color: lbcamden-colour("black");
      }
    }
  }
}
