.LBCamden-Link {
  &--action {
    position: relative;
    font-weight: bold;
    @include govuk-responsive-padding(2, "right");

    &:before {
      $dimension: 6px;
      $width: 2px;
      content: "";
      position: absolute;
      right: 0;
      bottom: $dimension;
      width: $dimension;
      height: $dimension;
      transform: rotate(45deg);
      border-top: $width solid $govuk-link-colour;
      border-right: $width solid $govuk-link-colour;
    }
  }

  &--promo {
    @extend .LBCamden-Button;
    display: block;
    position: relative;
    margin-bottom: 0;
    border-radius: 3px;
    border-bottom-right-radius: 1rem;
    color: lbcamden-colour("white");
    background: lbcamden-colour("govuk-brand1-1-colour");
    font-weight: bold;
    text-align: left;
    @include govuk-responsive-padding(4, "all");
    @include govuk-responsive-padding(8, "right");

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: govuk-spacing(4);
      width: 7px;
      height: 7px;
      transform: rotate(45deg) translateY(-50%);
      border-top: 3px solid lbcamden-colour("white");
      border-right: 3px solid lbcamden-colour("white");
    }

    &:focus {
      &:after {
        border-color: lbcamden-colour("black");
      }
    }
  }
}
