.lbcamden-link {
  &--action {
    position: relative;
    font-weight: $govuk-font-weight-bold;
    text-decoration: none;
    @include govuk-responsive-padding(3, "right");

    &:before {
      @include lbcamden-chevron(lbcamden-colour("blue"), 0, 1, 3);
      content: "";
      position: absolute;
      top: 50%;
      right: 1px;
      @include govuk-media-query($from: tablet) {
        right: -1px;
      }
      transform: translateY(-50%);
    }

    &:hover {
      text-decoration: underline;
      @include govuk-link-hover-decoration;

      &:before {
        @include lbcamden-chevron(lbcamden-colour("dark-blue"), 0, 1, 3);
        transform: translateY(-50%);
      }
    }

    &:visited {
      &:before {
        @include lbcamden-chevron($govuk-link-visited-colour, 0, 1, 3);
        transform: translateY(-50%);
      }
    }

    &:focus {
      color: lbcamden-colour("black");
      box-shadow: none;

      &:after {
        border-color: lbcamden-colour("black");
      }

      &:before {
        @include lbcamden-chevron(lbcamden-colour("black"), 0, 1, 3);
        transform: translateY(-50%);
      }
    }

    &:active {
      &:before {
        @include lbcamden-chevron(lbcamden-colour("black"), 0, 1, 3);
        transform: translateY(-50%);
      }
    }
  }

  &--promo {
    //@extend .lbcamden-button;
    @include govuk-font(24);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border-radius: 3px;
    border-bottom-right-radius: 1rem;
    color: lbcamden-colour("white");
    background: lbcamden-colour("govuk-brand1-1-colour");
    font-weight: $govuk-font-weight-bold;
    text-align: left;
    text-decoration: none;
    @include govuk-responsive-padding(2, "top");
    @include govuk-responsive-padding(2, "bottom");
    @include govuk-responsive-padding(4, "left");
    @include govuk-responsive-padding(7, "right");

    @include govuk-media-query($from: tablet) {
      min-height: 66px;
    }

    h2 &,
    h3 &,
    h4 &,
    h5 &,
    h6 & {
      display: flex;
    }

    &:visited,
    &:link {
      color: lbcamden-colour("white");
    }

    &:hover {
      text-decoration: underline;
      @include govuk-link-hover-decoration;
    }

    &:after {
      @include lbcamden-chevron(lbcamden-colour("white"), 0, 2, 4);
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);

      @include govuk-media-query($from: tablet) {
        right: 15px;
      }
    }

    &:focus {
      color: lbcamden-colour("black");
      box-shadow: none;

      &:after {
        @include lbcamden-chevron(lbcamden-colour("black"), 0, 2, 4);
        transform: translateY(-50%);
      }
    }

    &-alt {
      color: $govuk-link-colour;
      background: lbcamden-colour("govuk-bg-bright1-colour");
      box-shadow: 1px 1px 1px rgba(lbcamden-colour("black"), .25);
      font-weight: $govuk-font-weight-semibold;
      @include govuk-font(19);

      &:link {
        color: $govuk-link-colour;
      }

      &:visited {
        color: $govuk-link-colour;
      }

      &:hover {
        color: $govuk-link-hover-colour;

        &:after {
          @include lbcamden-chevron(lbcamden-colour("dark-blue"), 0, 1, 4);
          transform: translateY(-50%);
        }
      }

      &:after {
        @include lbcamden-chevron(lbcamden-colour("blue"), 0, 1, 4);
        transform: translateY(-50%);
      }

      &:focus {
        color: lbcamden-colour("black");

        &:after {
          @include lbcamden-chevron(lbcamden-colour("black"), 0, 1, 4);
          transform: translateY(-50%);
        }
      }
    }

    &--large {
      @include govuk-typography-weight-bold;
      min-height: 60px;

      @include govuk-media-query($from: tablet) {
        min-height: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
