.LBCamden-Link {
  &--action {
    position: relative;
    font-weight: $govuk-font-weight-bold;
    text-decoration: none;
    @include govuk-responsive-padding(4, "right");

    &:before {
      @include lbcamden-chevron(lbcamden-colour("blue"), 0, 1, 3);
      content: "";
      position: absolute;
      top: 50%;
      right: govuk-spacing(0);
      transform: translateY(-50%);
    }

    &:hover {
      text-decoration: underline;
      @include govuk-link-hover-decoration;

      &:before {
        @include lbcamden-chevron(lbcamden-colour("dark-blue"), 0, 1, 3);
        transform: translateY(-50%);
      }
    }

    &:visited {
      &:before {
        @include lbcamden-chevron($govuk-link-visited-colour, 0, 1, 3);
        transform: translateY(-50%);
      }
    }

    &:focus {
      color: lbcamden-colour("black");
      box-shadow: none;

      &:after {
        border-color: lbcamden-colour("black");
      }

      &:before {
        @include lbcamden-chevron(lbcamden-colour("black"), 0, 1, 3);
        transform: translateY(-50%);
      }
    }
  }

  &--promo {
    //@extend .LBCamden-Button;
    @include govuk-font(19);
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    border-radius: 3px;
    border-bottom-right-radius: 1rem;
    color: lbcamden-colour("white");
    background: lbcamden-colour("govuk-brand1-1-colour");
    font-weight: $govuk-font-weight-bold;
    text-align: left;
    text-decoration: none;
    @include govuk-responsive-padding(4, "all");
    @include govuk-responsive-padding(8, "right");

    &:visited,
    &:link {
      color: lbcamden-colour("white");
    }

    &:hover {
      text-decoration: underline;
      @include govuk-link-hover-decoration;
    }

    &:after {
      @include lbcamden-chevron(lbcamden-colour("white"), 0, 2, 3);
      content: "";
      position: absolute;
      top: 50%;
      right: govuk-spacing(4);
      transform: translateY(-50%);
    }

    &:focus {
      color: lbcamden-colour("black");
      box-shadow: none;

      &:after {
        @include lbcamden-chevron(lbcamden-colour("black"), 0, 2, 3);
        transform: translateY(-50%);
      }
    }

    &-alt {
      color: $govuk-link-colour;
      background: lbcamden-colour("govuk-bg-bright1-colour");
      box-shadow: 1px 1px 1px rgba(lbcamden-colour("black"), .25);
      font-weight: $govuk-font-weight-semibold;

      &:link {
        color: $govuk-link-colour;
      }

      &:visited {
        color: $govuk-link-colour;
      }

      &:hover {
        color: $govuk-link-hover-colour;

        &:after {
          @include lbcamden-chevron(lbcamden-colour("dark-blue"), 0, 1, 3);
          transform: translateY(-50%);
        }
      }

      &:after {
        @include lbcamden-chevron(lbcamden-colour("blue"), 0, 1, 3);
        transform: translateY(-50%);
      }

      &:focus {
        color: lbcamden-colour("black");

        &:after {
          @include lbcamden-chevron(lbcamden-colour("black"), 0, 1, 3);
          transform: translateY(-50%);
        }
      }
    }

    &--large {
      @include govuk-responsive-padding(5, "top");
      @include govuk-responsive-padding(5, "bottom");
      @include govuk-typography-weight-bold;
    }
  }
}
