ul,
ol {
  @extend .govuk-list;
}

ol {
  @extend .govuk-list--number;
}

ul {
  @extend .govuk-list--bullet;
}

.lbcamden-list {
  &--dash {
    @extend .govuk-list--spaced;
    @include govuk-responsive-margin(5, "bottom");
    list-style: "— " outside;

    li {
      @include govuk-responsive-padding(1, "left");
      @include govuk-responsive-margin(5, "bottom");
      @include govuk-font(16);
      position: relative;
    }

    a:not(:hover) {
      text-decoration: none;
    }
  }
}
