.LBCamden-List {
  &--dash {
    list-style: none outside;

    li {
      @include govuk-responsive-padding(4, "left");
      position: relative;

      &:before {
        content: "-";
        position: absolute;
        left: 0;
        width: 20px;
        overflow: hidden;
      }
    }
  }
}
