.govuk-pagination {
  .govuk-pagination__link {
    svg {
      > * {
        opacity: 0;
      }

      background-position: center;
      background-size: 9px;

      @include govuk-media-query($from: tablet) {
        background-size: 12px;
      }
    }
  }

  .govuk-pagination__item--current {
    background: lbcamden-colour("grey");
  }

  &__prev,
  &__next,
  &__item:not(.govuk-pagination__item--current) {
    &:hover {
      background: lbcamden-colour("govuk-bg-bright1-colour");
    }
  }

  &__prev {
    svg {
      @include lbcamden-chevron(lbcamden-colour("grey"), 180, 1, 4);
    }
  }

  &__next {
    svg {
      @include lbcamden-chevron(lbcamden-colour("grey"), 0, 1, 4);
    }
  }
}
