.lbcamden-row {
  @include govuk-responsive-padding(5, "top");
  @include govuk-responsive-padding(5, "bottom");

  &--large {
    @include govuk-responsive-padding(7, "top");
    @include govuk-responsive-padding(7, "bottom");
  }

  &--related {
    @include govuk-responsive-margin(7, "top");
    border-top: 3px solid $govuk-brand-colour;
    background: lbcamden-colour("govuk-bg-bright1-colour");
  }

  &--bg {
    background: lbcamden-colour("govuk-bg-bright1-colour");
  }

  &--bg-2 {
    background: lbcamden-colour("govuk-brand1-7-colour");
  }
}
