$lbcamden-surround-color: govuk-colour("white") !default;

.lbcamden-surround {
  margin: 0 #{-$govuk-gutter-half};
  padding: $govuk-gutter-half;
  padding-top: govuk-spacing(6);
  padding-bottom: govuk-spacing(6);
  background-color: var(--lbcamden-surround-color, #{$lbcamden-surround-color});

  @include govuk-media-query($from: "desktop") {
    margin: 0 govuk-spacing(-4);
    padding: govuk-spacing(4);
    padding-top: govuk-spacing(6);
    padding-bottom: govuk-spacing(8);
  }
}
