.govuk-tag {
  border-radius: 3px;
  color: lbcamden-colour("white");
  background: lbcamden-colour("blue");

  &--grey {
    color: lbcamden-colour("black");
    background: lbcamden-colour("light-grey");
  }
}
