<section role="banner" class="lbcamden-status {{ params.classes }}">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="lbcamden-status__heading {{ params.headingClasses }}">{{ params.heading }}</h2>

        {% if params.shortDescription %}
        <p class="lbcamden-status__description {{ params.descriptionClasses }}">
          {{ params.shortDescription }}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
