.lbcamden-promo-gallery {
  h2 {
    @include govuk-responsive-margin(6, "bottom");
  }

  &__description {
    @include govuk-responsive-margin(6, "bottom");
    margin-top: govuk-spacing(-2);
  }

  &__all {
    @include govuk-responsive-margin(6, "top");
  }
}
