<div class="lbcamden-promo-gallery {{ params.classes }}">
    {% if params.heading %}
      <h2>{{ params.heading }}</h2>
    {% endif %}

    <ul class="lbcamden-card-grid lbcamden-card-grid--popular">
        {% for item in params.items %}
            <li class="lbcamden-card-grid--link-wrapper">
                <a class="lbcamden-card--clickable lbcamden-link--promo lbcamden-link--promo-alt" href="{{ item.href }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
