
<picture {% if params.classes %} class="lbcamden-image {{ params.classes }}"{% endif %}>
  {% set sizes = [{ mq: "min-width(320px)", w: params.widths.mobile }, { mq: "min-width(576px)", w: params.widths.mobileLarge }, { mq: "min-width(641px)", w: params.widths.tablet }, { mq: "min-width(768px)", w: params.widths.desktop }, { mq: "min-width(992px)", w: params.widths.wide }] %}

  {% for source in params.sources %}
    {% set srcsetComma = joiner(", ") %}
    {% set sizesComma = joiner(", ") %}

    <source
      type="{{ source.type }}"
      srcset="{% for item in source.sources %}{{ srcsetComma() }}{{ item.src }} {% if item.width %}{{ item.width }}w{% endif %}{% endfor %}"
      sizes="{% for size in sizes %}{% if size.w %}{{ sizesComma() }}{{ size.mq }} {{ size.w }}{% endif %}{% endfor %}"
    />
  {% endfor %}
  <img src="{{ params.fallback }}" alt="{{ params.alt }}"{% if img.lazy %} loading="lazy"{% endif %} {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %} />
</picture>
