{% from "../image/macro.njk" import LBCamdenImage %}

<section class="lbcamden-engagement-banner {{ params.classes }}">
  <h2 class="lbcamden-engagement-banner__heading--mobile">{{ params.heading }}</h2>
  {{ LBCamdenImage({
    classes: "lbcamden-engagement-banner__image",
    sources: params.image.sources,
    alt: params.image.alt,
    lazy: params.image.lazy,
    src: params.image.src,
    widths: params.image.widths
  }) }}

  <div class="lbcamden-engagement-banner__content">
    <h2>{{ params.heading }}</h2>
    {{ params.shortDescription | safe }}

    <a href="{{ params.link }}">
      {{ params.linkText }}
    </a>
  </div>
</section>
