<aside id="{{params.id}}" aria-labelledby="{{params.id}}--heading" class="lbcamden-service-banner {{ params.classes }}">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 id="{{params.id}}--heading" class="{{ params.headingClasses }}">{{ params.heading }}</h2>

        {{ params.shortDescription | safe }}
      </div>
    </div>
  </div>
</aside>
