$lbc-default-spacing: 6;
$lbc-default-spacing--small: 2;

.lbcamden-campaign--local-offer {
  --lbcamden-theme-brand-colour: #ffba00;
  --lbcamden-theme-tint-colour: #fff0c8;
}

$lbcamden-theme-tint-colour: var(
  --lbcamden-theme-tint-colour,
  #f0f0f0
);

$lbcamden-theme-brand-colour: var(
  --lbcamden-theme-brand-colour,
  lbcamden-colour("bright-grey")
);

$lbcamden-brand-colour: var(
  --lbcamden-theme-brand-colour,
  lbcamden-colour("govuk-brand1-1-colour")
);
