.lbcamden-header {
  &--estate {
    @import "./includes/estate-header";
  }

  &--site-navigation {
    @import "./includes/site-header";

    + .govuk-phase-banner {
      border-top: 1px solid lbcamden-colour("light-grey-3");
    }
  }
}

@media print {
  .lbcamden-header {
    display: none;
  }
  .govuk-phase-banner {
    display: none;
  }
}
