.LBCamden-Header {
  color: lbcamden-colour("white");
  background: lbcamden-colour("govuk-brand1-1-colour");
  //@include govuk-responsive-margin($lbc-default-spacing, "bottom");
  @include govuk-responsive-padding($lbc-default-spacing--small, "top");
  @include govuk-responsive-padding($lbc-default-spacing--small, "bottom");

  &__logo {
    @include govuk-responsive-margin(2, "top");
    @include govuk-responsive-margin(2, "bottom");
    display: inline-block;
    width: 50%;

    @include govuk-media-query($from: tablet) {
      width: 15%;
    }
  }

  &--with-phase-banner {
    margin-bottom: 0;
  }

  &__link {
    display: block;
    max-width: 100%;
    color: lbcamden-colour("white");

    &:visited,
    &:link {
      color: lbcamden-colour("white");
    }

    &:focus {
      color: lbcamden-colour("black");
      background: $govuk-focus-colour;
    }
  }
}
