{% from "../logo/macro.njk" import LBCamdenLogo %}
{% from "./includes/base.njk" import LBCamdenHeaderBase %}

{% set title = params.title | default("Camden.gov.uk") %}
{% set id_prefix = params.id_prefix | default("super") %}

<header
  class="lbcamden-header lbcamden-header--estate {{ params.classes if params.classes }}{% if params.phaseBanner and not params.siteNavigation %} lbcamden-header--with-phase-banner{% endif %}"
  role="banner" data-module="lbcamden-header"
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>

  <div class="lbcamden-header__bar {{ params.containerClasses | default('govuk-width-container') }}">
    <div class="lbcamden-header__logo">
      <a href="{{ params.homepageUrl | default('/') }}" class="lbcamden-header__link">
        {{ LBCamdenLogo({
        }) }}
        <span class="govuk-visually-hidden">{{ title }}</span>
      </a>
    </div>
    {% if params.navigation or params.search != false %}
      {{ LBCamdenHeaderBase(params, id_prefix) }}
    {% endif %}
  </div>

  {% if params.emergencyBanner %}
    <div class="lbcamden-header__emergency-banner">
      {{ params.emergencyBanner | safe }}
    </div>
  {% endif %}
</header>

{% if params.siteNavigation %}
  {% set site_id_prefix %}{{ id_prefix }}-site{% endset %}

  <header
    class="lbcamden-header lbcamden-header--site-navigation {% if params.phaseBanner %}lbcamden-header--with-phase-banner{% endif %}"
    role="banner"
    data-module="lbcamden-header">
    <div class="lbcamden-header__bar {{ params.containerClasses | default('govuk-width-container') }}">
      <div class="lbcamden-header__title">
        <a href="{{ params.siteNavigation.homepageUrl | default('/') }}" class="lbcamden-header__link">
          {{ params.siteNavigation.title }}
        </a>
      </div>

      {{ LBCamdenHeaderBase(params.siteNavigation, site_id_prefix) }}
    </div>
  </header>
{% endif %}

{% if params.phaseBanner %}
  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
      </p>
    </div>
  </div>
{% endif %}
