.lbcamden-card-gallery {
  h2 {
    @include govuk-responsive-margin(6, "bottom");
  }

  &__description {
    @include govuk-responsive-margin(6, "bottom");
    margin-top: govuk-spacing(-2);
  }

  &__all {
    @include govuk-responsive-margin(6, "top");
  }

  &.lbcamden-surround {
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: -100vw;
      width: 200vw;
      height: 100%;
      background-color: var(--lbcamden-surround-color);
    }

    .lbcamden-card {
      background-color: #ffffff;

      &__content_wrapper {
        padding-inline: govuk-spacing(3);

        @include govuk-media-query(tablet) {
          padding-inline: govuk-spacing(2);
        }
      }
    }

    >* {
      position: relative;
      z-index: 2;
    }
  }

  li {
    margin-bottom: 0;
  }

  &__view-all {
    @include govuk-responsive-margin(6, "top");
    @include govuk-typography-responsive(19);
    display: inline-block;
    font-weight: 500;
  }
}
