.lbcamden-image-gallery {
  @include govuk-media-query($from: desktop) {
    grid-template-columns: 1fr 1fr;
  }

  .lbcamden-card__content_wrapper {
    padding-bottom: 0;
  }

  h2 {
    display: none;
  }

  li {
    margin-block-end: 0;
  }

  img {
    display: block;
  }
}

.lbcamden-prose .lbcamden-image-gallery {
  // breaks out of inherited css - better to approach this by moving lbcamden-prose up to the individual block level rather than installing it at the root
  padding-left: 0;
  list-style-type: none;
}

* + .lbcamden-image-gallery {
  @include govuk-responsive-margin(6, "top");
}

.lbcamden-gallery + p {
  @include govuk-responsive-margin(6, "top");
}

// adjustments to spacing between elements on content pages
.lbcamden-card-grid.lbcamden-image-gallery + h2 {
  padding-top: 0;
  @include govuk-responsive-margin(7, "top");
}
