{% from "node_modules/lbcamden-frontend/lbcamden/components/card/macro.njk" import LBCamdenCard %}
<ul class="lbcamden-card-grid lbcamden-image-gallery">
    {% for item in params.items %}
        {{ LBCamdenCard({
                element: "li",
                image: item.image,
                classes: "lbcamden-card--naked",
                content: {
                text: item.caption
                }
                }) }}
    {% endfor %}
</ul>
