---
scenario: >-
  You would like to find relevant articles by sorting the results and filtering
  by the organisation(s) that published the articles.


  Things to try:

  1. Sort the list of results so that the oldest results are first.

  2. Filter the list of results to show only those published by the Ministry of
     Defence.

notes: >-
  The filtering and sorting may not be accurate – this is just a demonstration
  of the sort of interactions that you would find on a search page.

  This example merges features seen on GOV.UK news and communication finders and search pages.
---

{% extends "full-page-example.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "search/macro.njk" import LBCamdenSearch %}
{% from "search-results/macro.njk" import LBCamdenSearchResults %}


{% set pageTitle = "Search" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "#"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageTitle }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-!-margin-bottom-2 govuk-!-margin-top-2">
        {{ LBCamdenSearch({ value: "driving", id: "search-input", resultsCountId: "results-count" }) }}
      </div>

      <h2 class="govuk-!-margin-bottom-7 govuk-body-s" id="results-count">
        Showing <strong>{{ documents | length }}</strong> of <strong>{{ total }}</strong> results for "driving"
      </h2>

      {{ LBCamdenSearchResults({ items: documents }) }}

      {{ govukPagination({
        "previous": {
          "text": "Previous page",
          "labelText": "1 of 3",
          "href": "/previous"
        },
        "next": {
          "text": "Next page",
          "labelText": "3 of 3",
          "href": "/next"
        }
      }) }}
    </div>
  </div>
{% endblock %}
