---
scenario: You want to find information about services provided by Camden
notes:
---
{% extends "full-page-example.njk" %}
{% set mainClasses = 'govuk-wrapper-spacing--auto' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "components/card/macro.njk" import LBCamdenCard %}

{% set pageTitle = "Services" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block header %}
  {{ LBCamdenHeader({

  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-!-margin-bottom-4">Services</h1>

        <p class="govuk-body-lead">Services, information and guidance for residents and businesses in Camden.</p>

      </div>
    </div>

    <h2>Do it online</h2>

    <p>Find online services from across the council</p>
    {% set items = [
      {
        title: 'Report',
        description: 'Housing repairs, problems, complaints and more'
      },
      {
        title: 'Pay',
        description: 'Council tax, rent, business rates, PCN and more'
      },
      {
        title: 'Apply',
        description: 'Parking permits, council tax support, freedom pass, and more'
      },
      {
        title: 'Request',
        description: 'Voting, birth certificates, bins, and more'
      }
    ] %}
    <div class="LBCamden-Card_Wrapper LBCamden-Card_Wrapper--popular govuk-!-margin-bottom-6">
      {% for item in items %}
        <div class="LBCamden-Card LBCamden-Card--naked">
          <h3 class="govuk-heading-m">
            <a href="#"
               class="LBCamden-Link--promo">
              {{ item.title }}
            </a>
          </h3>
          <div class="LBCamden-Card__content">
            <p>{{ item.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <section class="LBCamden-Row">
    <div class="govuk-width-container">

      <h2>Featured links</h2>

      <p>Information and guidance important right now.</p>

      <div class="LBCamden-Card_Wrapper govuk-!-margin-bottom-6">
        <div class="LBCamden-Card LBCamden-Card--clickable"
             data-module="lbcamden-card">
          <h3 class="govuk-heading-s">
            <a href="/alpha/{{ versionDirectory }}/#">
              Refugees from Ukraine
            </a>
          </h3>
          <p class="govuk-body-s">Information for Ukrainians arriving in Camden and their hosts</p>
        </div>

        <div class="LBCamden-Card LBCamden-Card--clickable"
             data-module="lbcamden-card">
          <h3 class="govuk-heading-s">
            <a href="/alpha/{{ versionDirectory }}/#">
              Covid 19
            </a>
          </h3>
          <p class="govuk-body-s">Information and guidance about the corona virus</p>
        </div>

        <div class="LBCamden-Card LBCamden-Card--clickable"
             data-module="lbcamden-card">
          <h3 class="govuk-heading-s">
            <a href="/alpha/{{ versionDirectory }}/collection/worried-about-someone">
              When you need support
            </a>
          </h3>
          <p class="govuk-body-s">Information and guidance if you're worried about your own or someone else's
            well-being</p>
        </div>

      </div>
    </div>

  </section>

  <section class="LBCamden-Row LBCamden-Row--alt-2">
    <div class="govuk-width-container">
      <h2>Services near you</h2>

      <p>Libraries, schools and other community services near <strong>St. Pancras & Somerstown</strong> (NW1 OHY)</p>

      <div class="govuk-button-group govuk-!-margin-bottom-0">
        <a href="#" class="LBCamden-Link--promo govuk-!-margin-bottom-0">View map</a>
        <a href="#" class="">Change location</a>
      </div>
    </div>
  </section>

  {% set items = [
    {
      title: 'Benefits and support',
      description: 'Information and advice for people in need of benefits and other support'
    },
    {
      title: 'Births, deaths, marriages and citizenship',
      description: 'Register a birth or a death. Apply for citizenship, and guidance on getting married'
    },
    {
      title: 'Business',
      description: 'Advice and support for businesses in Camden. Licensing information, guidance on paying your business rates and more'
    },
    {
      title: 'Children, families and young people',
      description: 'Support for families with children. Youth services and activities'
    },
    {
      title: 'Council tax',
      description: 'Advice on how to pay, information on discounts and exemptions'
    },
    {
      title: 'Crime and safety',
      description: 'Working together to keep our community safe'
    },
    {
      title: 'Education',
      description: 'Advice on school admissions, term information and support with other educational needs'
    },
    {
      title: 'Environmental issues',
      description: 'Advice on climate change and pollution, and how to report environmental issues'
    },
    {
      title: 'Housing',
      description: 'Apply for council housing, report a repair, homelessness information. Guidance for leaseholders homeowners and private tenants'
    },
    {
      title: 'Jobs and skills',
      description: 'Support with finding employment and developing skills'
    },
    {
      title: 'Libraries and local studies',
      description: 'Camden libraries and their services, information on local studies and archives'
    },
    {
      title: 'Parking',
      description: 'Information on permits, paying tickets and traffic management'
    },
    {
      title: 'Planning and building development',
      description: 'Search for and comment on planning applications. Information on regeneration development. Guidance on building control'
    },
    {
      title: 'Recycling and rubbish',
      description: 'Collection information and guidance on what to recycle'
    },
    {
      title: 'Roads and travel',
      description: 'Report an issue with a street or road. Find out about disabled and older persons\' travel. Keep informed on transport strategies and projects'
    },
    {
      title: 'Social care and health',
      description: 'Information and advice for people in need of social care and those living with an illness or disability'
    },
    {
      title: 'Sports and leisure',
      description: 'Take part in local activities,  put on events, visit green spaces and parks'
    }
  ] %}
  <section class="LBCamden-Row govuk-width-container">

    <h2>All services</h2>

    <p>All services and information grouped by topics</p>

    <div class="LBCamden-Card_Wrapper">
      {% for item in items %}
        {{ LBCamdenCard({
          naked: true,
          heading: {
            title: item.title,
            href: '#',
            headingLevel: 3
          },
          cardBodyHtml: '<p class="govuk-body-s">' + item.description + '</p>'
        }) }}
      {% endfor %}
    </div>

    </div>
    </div>
  </section>
{% endblock %}

{% block afterContent %}
  <section class="LBCamden-Row LBCamden-Row--alt">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <h2 class="govuk-heading-m">Can't find what you're looking for?</h2>

          <p>You can't find here what you're looking for: <a href="./search">Search our site</a></p>

          <p>You want to find out about how the council works, Its activities, policies, and plans for the future: <a
              href="#">Your Council</a></p>

          <p>You think the information or service you need is not available online: <a href="#">Contact us</a></p>

        </div>
      </div>
    </div>

  </section>
{% endblock %}

{% block footer %}
  {{ LBCamdenFooter({
    navigation: [
      {
        "title": "Single column list",
        "width": "two-thirds",
        "columns": 2,
        "items": [
        {
          "href": "#1",
          "text": "Home"
        },
        {
          "href": "#2",
          "text": "Search"
        },
        {
          "href": "#3",
          "text": "Sitemap"
        },
        {
          "href": "#4",
          "text": "Contact Camden Council"
        },
        {
          "href": "#5",
          "text": "Accessibility statement"
        },
        {
          "href": "#6",
          "text": "Freedom of Information Disclaimer"
        },
        {
          "href": "#7",
          "text": "Privacy Statement & Cookies"
        },
        {
          "href": "#8",
          "text": "Modern Slavery Statement"
        }
      ]
      }
    ]
  }) }}
{% endblock %}
