{% extends "template.njk" %}

{% block head %}

  {% if legacy %}
    <!--[if !IE 8]><!-->
      <link rel="stylesheet" href="/vendor/govuk_template/stylesheets/govuk-template.css">
    <!--<![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" href="/vendor/govuk_template/govuk-template-ie8.css">
    <![endif]-->
    <link rel="stylesheet" media="print" href="/vendor/govuk_template/stylesheets/govuk-template-print.css">
    <link rel="stylesheet" media="all" href="/vendor/govuk_template/stylesheets/fonts.css"/>
    <!--[if !IE 8]><!-->
      <link rel="stylesheet" href="/public/app-legacy.css">
    <!--<![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" href="/public/app-legacy-ie8.css">
    <![endif]-->
  {% else %}
    <!--[if !IE 8]><!-->
      <link rel="stylesheet" href="/public/app.css">
    <!--<![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" href="/public/app-ie8.css">
    <![endif]-->
  {% endif %}

  <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" integrity="sha256-vtR0hSWRc3Tb26iuN2oZHt3KRUomwTufNIf5/4oeCyg=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js" integrity="sha256-Zb9yKJ/cfs+jG/zIOFL0QEuXr2CDKF7FR5YBJY3No+c=" crossorigin="anonymous"></script>
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="/vendor/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  {% block styles %}{% endblock %}
{% endblock %}

{% block header %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "service-banner/macro.njk" import LBCamdenServiceBanner %}

  {{ govukCookieBanner({
    "messages": [
      {
        "headingText": "Cookies on Camden's beta site",
        "html": "<p>We use some essential cookies to make this website work.</p><p>We'd like to set additional cookies so we can understand how you use the website and make improvements.</p>",
        "actions": [
          {
            "text": "Accept analytics cookies",
            "type": "submit",
            "name": "cookies",
            "value": "accept"
          },
          {
            "text": "Reject analytics cookies",
            "type": "submit",
            "name": "cookies",
            "value": "reject"
          },
          {
            "text": "How we use cookies",
            "href": "/cookie-preferences"
          }
        ]
      }
    ]
  }) }}

  {{ LBCamdenHeader({
    "phaseBanner": true,
    "searchItems": [
      {
        "href": "#1",
        "text": "Popular search 1"
      },
      {
        "href": "#2",
        "text": "Popular search 2"
      },
      {
        "href": "#3",
        "text": "Popular search 3"
      }
    ],
    emergencyBanner: '<section role="banner" class="lbcamden-emergency-banner lbcamden-emergency-banner--notable-death  ">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="lbcamden-emergency-banner__heading ">His Royal Highness Henry VIII</h2>

        <p class="lbcamden-emergency-banner__description ">
          1491–1547
        </p>

        <a href="https://www.gov.uk/" class="lbcamden-emergency-banner__link">
          Override Link Text
        </a>
      </div>
    </div>
  </div>
</section>
',
    "navigation": [
      {
        "href": "#1",
        "text": "Services",
        "description": "This is an optional description of the services",
        "subItems": [
          {
            "href": "#1-1",
            "text": "Benefits and financial support"
          },

{
            "href": "#1-1",
            "text": "Births, deaths, marriages and citizenship"
          },

{
            "href": "#1-1",
            "text": "Business"
          },

{
            "href": "#1-1",
            "text": "Children, families and young people"
          },

{
            "href": "#1-1",
            "text": "Coronavirus (COVID-19)"
          },

{
            "href": "#1-1",
            "text": "Council tax"
          },

{
            "href": "#1-1",
            "text": "Crime and safety"
          },

{
            "href": "#1-1",
            "text": "Education"
          },

{
            "href": "#1-1",
            "text": "Environmental issues"
          },

{
            "href": "#1-1",
            "text": "Housing"
          },

{
            "href": "#1-1",
            "text": "Jobs and skills"
          },

{
            "href": "#1-1",
            "text": "Libraries and local studies"
          },

{
            "href": "#1-1",
            "text": "Parking"
          },

{
            "href": "#1-1",
            "text": "Pay"
          },

{
            "href": "#1-1",
            "text": "Planning and building development"
          },

{
            "href": "#1-1",
            "text": "Recycling and rubbish"
          },

{
            "href": "#1-1",
            "text": "Roads and travel"
          },

{
            "href": "#1-1",
            "text": "Social care and health"
          },

{
            "href": "#1-1",
            "text": "Sports and leisure"
          },

{
            "href": "#1-1",
            "text": "Your council"
          }
        ]
      },
      {
        "href": "#1",
        "text": "News"
      },
      {
        "href": "#1",
        "text": "Camden Account",
        "classes": "lbcamden-header__navigation-item-link--sign-in",
        "subItems": [
          {
            "href": "#1-1",
            "text": "Resident"
          },
          {
            "href": "#1-2",
            "text": "Business"
          }
          
        ]
      }
    ]
  }) }}
  {{ LBCamdenServiceBanner({
      'heading': 'Council Tax and benefit forms unavailable',
      'shortDescription': 'Council Tax and housing benefit application forms are unavailable this evening between 6pm and 9pm. Try again after this time.'
  }) }}
    {{ LBCamdenServiceBanner({
      'heading': 'Parking Suspension is not available',
      'shortDescription': 'Application forms are unavailable this evening between 6pm and 9pm. Find out more here'
  }) }}
{% endblock %}

{% block bodyStart %}
  {% block banner %}
    {% include "../partials/banner.njk" %}
  {% endblock %}
{% endblock %}

{% if not mainClasses %}
  {% set mainClasses = 'govuk-width-container' %}
{% endif %}

{% block bodyEnd %}
  {% if legacy %}
    {% include "partials/legacyJavaScript.njk" %}
  {% endif %}
  <script src="/public/govuk-frontend.js"></script>
  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  <script>window.LBCamdenFrontend.initAll()</script>
{% endblock %}
