{% extends "full-width.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "macros/showExamples.njk" import showExamples %}

{% set bodyClasses %}
  language-markup
{% endset %}

{% block beforeContent %}
  <div class="govuk-width-container">
  {{ govukBackLink({
    href: "/" + legacyQuery
  }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl">
      All components
    </h1>
  </div>
  {% if govukComponentData.length > 0 %}
    {% for data in govukComponentData %}
      {% set componentName = data.componentName %}
      {% set componentNameHuman = componentName | replace("-", " ") %}
      {{ showExamples(componentName, componentNameHuman, data, legacyQuery, true) }}
    {% endfor %}
  {% else %}
    {% for data in componentData %}
      {% set componentName = data.componentName %}
      {% set componentNameHuman = componentName | replace("-", " ") %}
      {{ showExamples(componentName, componentNameHuman, data, legacyQuery, false) }}
    {% endfor %}
  {% endif %}
{% endblock %}
