{% extends "layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}
  {# <h1 class="govuk-heading-xl">
    CAMDEN.GOV.UK Frontend v{{ version }}
  </h1> #}
  <div class="govuk-grid-row">
    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {{ govukNotificationBanner({
      html: 'These examples are intended to provide developers with an interface to run tests and scenarios. <strong>It is not intended to act as design system documentation</strong>.'
    }) }}

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Bespoke Components</h2>

      <ul class="govuk-list">
        <li><a href="/components/all{{ legacyQuery }}" class="govuk-link">All</a></li>
        {% for componentName in componentsDirectory | sort %}
          <li><a href="/components/{{ componentName }}{{ legacyQuery }}" class="govuk-link">{{ componentName | replace("-", " ") | capitalize }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Base Components</h2>

      <ul class="govuk-list">
        <li><a href="/govukComponents/all{{ legacyQuery }}" class="govuk-link">All</a></li>
        {% for componentName in govukComponentsDirectory | sort %}
          <li><a href="/govukComponents/{{ componentName }}{{ legacyQuery }}" class="govuk-link">{{ componentName | replace("-", " ") | capitalize }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Examples</h2>

      {% set patterns %}
        <ul class="govuk-list">
          {% for exampleName in examplesDirectory | sort %}
            <li><a href="/examples/{{ exampleName }}{{ legacyQuery }}" class="govuk-link">{{ exampleName | replace("-", " ") | capitalize }}</a></li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set pages %}
        <ul class="govuk-list">
          {% for example in fullPageExamples %}
            <li><a href="/full-page-examples/{{ example.path }}{{ legacyQuery }}" class="govuk-link">{{ example.name | replace("-", " ") | capitalize }}</a></li>
          {% endfor %}
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryText: 'Pattern examples',
        html: patterns
      }) }}

      {{ govukDetails({
        summaryText: 'Full page examples',
        html: pages
      }) }}

      <h2 class="govuk-heading-m">Misc</h2>

      <ul class="govuk-list">
        <li><a href="/docs" class="govuk-link">Sass Documentation</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ LBCamdenFooter() }}
{% endblock %}