{% extends "_generic.njk" %}

{% set htmlClasses = "app-no-canvas-background" %}

{% block pageTitle %}CAMDEN.GOV.UK Frontend{% endblock %}

{# Turn the header and footer off #}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block bodyEnd %}
{#  <svg class="svg">#}
{#    <clipPath id="chevron-clip-path" clipPathUnits="objectBoundingBox">#}
{#      <path d="M1,0.099 L0.934,0.901 C0.93,0.955,0.882,1,0.827,1 C0.772,1,0.731,0.956,0.736,0.901 L0.793,0.199 L0.091,0.2 C0.037,0.2,-0.004,0.156,0,0.101 C0.005,0.046,0.053,0.002,0.108,0.002 L0.909,0 C0.963,0,1,0.044,1,0.099 L1,0.099"></path></clipPath>#}
{#  </svg>#}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/iframeResizer.min.js" integrity="sha256-NZjCYaMfryuJQRMgekHuC02c/Wv4sMRzHG2zyhrVwKU=" crossorigin="anonymous"></script>
  <!--[if lte IE 8]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/ie8.polyfils.min.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var domReady = function(a,b,c){b=document,c='addEventListener';b[c]?b[c]('DOMContentLoaded',a):window.attachEvent('onload',a)}
    domReady(iFrameResize({}, '.js-component-preview'))
  </script>
  {% block scripts %}{% endblock %}
{% endblock %}
