{% extends "_generic.njk" %}

{% set htmlClasses = "app-no-canvas-background" %}

{% block pageTitle %}Frontend Library - Digital - Camden Council{% endblock %}

{# Turn the header and footer off #}
{% block header %}
{% from "header/macro.njk" import LBCamdenHeader %}

{{ LBCamdenHeader({
  "homepageUrl": "https://www.camden.gov.uk",
  "search": false,
  "siteNavigation": {
    "title": "Frontend Library",
    "search": false,
    "homepageUrl": "/",
    "navigation": [
      {
        "href": "#1",
        "text": "Components",
        "description": "Search for a department and find out what the council is doing",
        "subItems": [
          {
            "href": "#1-1",
            "text": "Bespoke",
            "description": "Description of service"
          },
          {
            "href": "#1-2",
            "text": "Base",
            "description": "Description of service"
          }
        ]
      },
      {
        "href": "#1",
        "text": "Examples",
        "description": "Search for a department and find out what the council is doing",
        "subItems": [
          {
            "href": "#1-1",
            "text": "Full pages",
            "description": "Description of service"
          },
          {
            "href": "#1-2",
            "text": "Patterns",
            "description": "Description of service"
          }
        ]
      },
      {
        "href": "#1",
        "text": "Documentation",
        "description": "Search for a department and find out what the council is doing",
        "subItems": [
          {
            "href": "#1-1",
            "text": "Get started",
            "description": "Description of service"
          },
          {
            "href": "#1",
            "text": "Resources",
            "description": "Description of service"
          },
          {
            "href": "#1",
            "text": "Contributing",
            "description": "Description of service"
          }
        ]
      }
    ]
  },
  "phaseBanner": {
    "tag": {
      "text": "beta"
    },
    "html": "This is a new service – your <a class=\"govuk-link\" href=\"#\">feedback</a> will help us to improve it."
  }
}) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/iframeResizer.min.js" integrity="sha256-NZjCYaMfryuJQRMgekHuC02c/Wv4sMRzHG2zyhrVwKU=" crossorigin="anonymous"></script>
  <!--[if lte IE 8]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/ie8.polyfils.min.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var domReady = function(a,b,c){b=document,c='addEventListener';b[c]?b[c]('DOMContentLoaded',a):window.attachEvent('onload',a)}
    domReady(iFrameResize({}, '.js-component-preview'))
  </script>
  {% block scripts %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ LBCamdenFooter() }}
{% endblock %}
