---
scenario: You want to find information about services provided by Camden
notes:
---
{% extends "full-page-example.njk" %}
{% set mainClasses = 'govuk-wrapper-spacing--auto' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "components/card/macro.njk" import LBCamdenCard %}
{% from "components/card-gallery/macro.njk" import LBCamdenCardGallery %}


{% set pageTitle = "Services" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-!-margin-bottom-4">Services</h1>

        <p class="govuk-body-lead">Services, information and guidance for residents and businesses in Camden.</p>

      </div>
    </div>

    

{% set itemsCards = [
    {
      title: 'Benefits and support',
      shortDescription: 'Information and advice for people in need of benefits and other support',
      "href": "#1"
    },
    {
      title: 'Births, deaths, marriages and citizenship',
      shortDescription: 'Register a birth or a death. Apply for citizenship, and guidance on getting married',
      "href": "#1"
    },
    {
      title: 'Business',
      shortDescription: 'Advice and support for businesses in Camden. Licensing information, guidance on paying your business rates and more',
      "href": "#1"
    },
    {
      title: 'Children, families and young people',
      shortDescription: 'Support for families with children. Youth services and activities',
      "href": "#1"
    },
    {
      title: 'Council tax',
      shortDescription: 'Advice on how to pay, information on discounts and exemptions',
      "href": "#1"
    },
    {
      title: 'Crime and safety',
      shortDescription: 'Working together to keep our community safe',
      "href": "#1"
    },
    {
      title: 'Education',
      shortDescription: 'Advice on school admissions, term information and support with other educational needs',
      "href": "#1"
    },
    {
      title: 'Environmental issues',
      shortDescription: 'Advice on climate change and pollution, and how to report environmental issues',
      "href": "#1"

    },
    {
      title: 'Housing',
      shortDescription: 'Apply for council housing, report a repair, homelessness information. Guidance for leaseholders homeowners and private tenants',
      "href": "#1"
    },
    {
      title: 'Jobs and skills',
      shortDescription: 'Support with finding employment and developing skills',
      "href": "#1"
    },
    {
      title: 'Libraries and local studies',
      shortDescription: 'Camden libraries and their services, information on local studies and archives',
      "href": "#1"
    },
    {
      title: 'Parking',
      shortDescription: 'Information on permits, paying tickets and traffic management',
      "href": "#1"
    },
    {
      title: 'Planning and building development',
      shortDescription: 'Search for and comment on planning applications. Information on regeneration development. Guidance on building control',
      "href": "#1"
    },
    {
      title: 'Recycling and rubbish',
      shortDescription: 'Collection information and guidance on what to recycle',
      "href": "#1"
    },
    {
      title: 'Roads and travel',
      shortDescription: 'Report an issue with a street or road. Find out about disabled and older persons\' travel. Keep informed on transport strategies and projects',
      "href": "#1"
    },
    {
      title: 'Social care and health',
      shortDescription: 'Information and advice for people in need of social care and those living with an illness or disability',
      "href": "#1"
    },
    {
      title: 'Sports and leisure',
      shortDescription: 'Take part in local activities,  put on events, visit green spaces and parks',
      "href": "#1"
    }
  ] %}  
  {{ LBCamdenCardGallery({
    "heading": "All services A to Z",
    "classes": "govuk-!-margin-bottom-9",
    "items": itemsCards,
    "cardType": "alt",
    "cardHeadingLevel": "3"
  }) }}
  </div>
{% endblock %}