---
scenario: The top level page for a topic, service or category.
notes:
---
{% extends "full-page-example.njk" %}

{% from "card/macro.njk" import LBCamdenCard %}
{% from "more-in/macro.njk" import LBCamdenMoreIn %}
{% from "link-list-gallery/macro.njk" import LBCamdenLinkListGallery %}
{% from "promo-gallery/macro.njk" import LBCamdenPromoGallery %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "Business" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-!-margin-bottom-5">Business</h1>

      <p class="govuk-body-lead">Advice and support for businesses in Camden. Licensing information, guidance on paying
        your business rates and more.</p>

    </div>
  </div>

  {{ LBCamdenPromoGallery({
    "heading": "Popular",
    "classes": "govuk-!-margin-bottom-9",
    "items": [
      {
        title: "Paying your business rates",
        href: "#"
      },
      {
        title: "Camden's new e-invoicing service",
        href: "#"
      },
      {
        title: "Search the licensing public register",
        href: "#"
      },
      {
        title: "Discounts and exemptions for business rates",
        href: "#"
      },
      {
        title: "Pavement licensing",
        href: "#"
      },
      {
        title: "Alcohol premises licensing",
        href: "#"
      }
    ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ LBCamdenLinkListGallery({
        "heading": "Contents",
        "items": [
          {
            "title": "Business rates",
            "viewAllHref": "#",
            "links": [
              {
                "title": "Business rates explained",
                "href": "#"
              },
              {
                "title": "Discounts and exemptions for business rates",
                "href": "#"
              },
              {
                "title": "Paying your business rates",
                "href": "#"
              }
            ]
          },
          {
            "title": "Markets",
            "viewAllHref": "#",
            "links": [
              {
                "title": "Visit Camden's markets",
                "href": "#"
              },
              {
                "title": "Apply to trade in Camden",
                "href": "#"
              },
              {
                "title": "Market news",
                "href": "#"
              }
            ]
          },
          {
            "title": "Licensing",
            "links": [
              {
                "title": "Alcohol and entertainment",
                "href": "#"
              },
              {
                "title": "Other licenses and permits",
                "href": "#"
              },
              {
                "title": "Search the licensing public register",
                "href": "#"
              }
            ]
          },
          {
            "title": "Doing business in Camden",
            "links": [
              {
                "title": "Starting or growing your business",
                "href": "#"
              },
              {
                "title": "Business rates, licensing and permits",
                "href": "#"
              },
              {
                "title": "Trading standards",
                "href": "#"
              }
            ]
          },
          {
            "title": "Food business",
            "links": [
              {
                "title": "Registering a food business",
                "href": "#"
              },
              {
                "title": "Food and hygiene information",
                "href": "#"
              },
              {
                "title": "Food safety training",
                "href": "#"
              }
            ]
          },
          {
            "title": "Getting paid by Camden",
            "links": [
              {
                "title": "Camden's Accounts Payable Policy",
                "href": "#"
              },
              {
                "title": "Camden's new e-invoicing service",
                "href": "#"
              },
              {
                "title": "e-invoicing Support",
                "href": "#"
              }
            ]
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}

{% block afterContent %}
  {{ LBCamdenMoreIn({
    heading: 'Related',
    relatedContent: [
      { href: "#", text: "Business rates" },
      { href: "#", text: "Apply for business and trade parking permits" },
      { href: "#", text: "Advertisements and signs and planning permission" },
      { href: "#", text: "Estate agent boards and planning permission" }
    ]
  }) }}
{% endblock %}
